.drawerContent {
    max-height: 100vh;
    height    : 100%;
}

.drawer--global__minicart--container {
    background-color: #fff;
    height          : 100% !important;
}

/* Nuevas clases - fix-styles 🧩*/
.closeIconContainer--global__minicart--container {
    display        : flex;
    align-content  : center;
    justify-content: right;
    width          : 100%;
    padding-right  : 16px;
    top            : 20px;
    position       : relative;
    height         : 20px;
}

.closeIconButton--global__minicart--container {
    padding-top     : 0 !important;
    padding-bottom  : 0 !important;
    background-color: #F5F4F6;
    border-radius   : 50%;
    display         : flex;
    align-items     : center;
    justify-content : center;
    padding         : 0px !important;
    z-index         : 10;
    cursor          : pointer;
}

.minicartTitle {
    display: none;
}

.minicartProductListContainer {
    height : 430px;
    padding: 0%;
}

.minicartCheckoutButton--minicart-checkout-button {
    display    : flex;
    align-items: center;
    width      : 368px;
    height     : 48px;
    padding    : 0px;
}

.minicartCheckoutButton--minicart__checkout--button :global(.vtex-button) {
    border-radius   : 40px;
    border          : solid 1px #1D2734;
    gap             : 10px;
    background-color: #1D2734;
}

.minicartCheckoutButton--minicart__checkout--button :global(.vtex-button__label) {
    font-size: 0px;
}

.minicartCheckoutButton--minicart__checkout--button :global(.vtex-button__label)::after {
    content       : "Finalizar tu compra";
    text-transform: lowercase;
    font-size     : 14px;
    font-family   : lexend, sans-serif;
}

.minicartCheckoutButton--minicart__checkout--button :global(.vtex-button__label)::after {
    text-transform: capitalize;
}

.minicartSummary--content__summary--products {
    padding       : 24px;
    padding-bottom: 20px;
}

.minicartCheckoutButton--minicart__checkout--button {
    padding: 0%;
    margin : 0%;
}

.minicartCheckoutButton--minicart__empty--btn-check {
    width: 328px;
}

.minicartCheckoutButton--minicart__empty--btn-check :global(.vtex-button) {
    border-radius   : 40px;
    border          : solid 1px #1D2734;
    gap             : 10px;
    background-color: #1D2734;
    opacity         : 40%;
}

.minicartCheckoutButton--minicart__empty--btn-check :global(.vtex-button__label) {
    font-size: 0px;
}

.minicartCheckoutButton--minicart__empty--btn-check :global(.vtex-button__label)::after {
    content       : "Finalizar tu compra";
    text-transform: lowercase;
    font-size     : 14px;
    font-family   : lexend, sans-serif;
}

.minicartCheckoutButton--minicart__empty--btn-check :global(.vtex-button__label)::after {
    text-transform: capitalize;
}

.closeIcon--global__minicart--container {
    width : 20px;
    height: 20px;
}

/*---------- Tablet portatil ------------*/
@media (max-width: 768px) {
    .drawer--global__minicart--container {
        width: 100% !important;
    }
}

/*---------- Desktop ------------*/
@media (min-width: 1025px) {
    .minicartCheckoutButton--minicart__empty--btn-check :global(.vtex-button) {
        opacity: 100%;
    }
}