.flexCol--remove_button-mobile :global(.vtex-product-list-0-x-deleteIcon) {
    display: none;
}

.flexCol--remove_button-mobile :global(.vtex-product-list-0-x-removeButton)::before {
    content            : url("/arquivos/hpa-delete-icon.svg");
    display            : inline-block;
    width              : 22.69px;
    height             : 22.69px;
    background-repeat  : no-repeat;
    background-size    : 100%;
    background-position: center;
}

/* Nuevas clases - fix-styles 🧩*/
/*Container all*/
.flexCol--minicart__body--container {
    align-items  : center;
    padding-left : 16px;
    padding-right: 16px;
}

.flexCol--global__minicart--title {
    padding-bottom: 16px;
    margin-left   : 16px;
    width         : fit-content;
    height        : fit-content;
}

.flexColChild--minicart__body--container {
    width: 100%;
}

.flexRow--product_list-content-mobile {
    margin-bottom: 8px;
}

.flexRowContent--product_list-content-mobile {
    display    : flex;
    align-items: center;
    height     : 100%;
    min-height : 120.99px;
    gap        : 7px;
}

.flexRowContent--quanitity_selector-mobile {
    margin-top: 3px;
}

.flexRow--price_mobile {
    width : 85px;
    height: 35px;
}

.flexCol--image_mobile {
    justify-content: center;
    align-items    : center;
    margin         : 0%;
    width          : 145px !important;
    border         : 0.95px solid #E7E7E7;
    border-radius  : 3.78px;
}

.flexCol--minicart__empty--body {
    padding-left : 16px;
    padding-right: 16px;
}

.flexColChild--minicart__empty--body {
    padding        : 0%;
    width          : 100%;
    display        : flex;
    justify-content: center;
}

.flexCol--footer__content--summary {
    border-radius   : 4px;
    border          : solid 1px #E7E7E7;
}

.flexColChild--minicart__empty--body .flexRow--minicart__body--footer {
    width: 328px;
}