/*Container all*/
.flexCol--col__minicart-base--container {
    align-items     : center;
}

/*minicart product*/
.flexRowContent--product_list-content-mobile {
    display       : flex;
    align-items   : center;
    height        : 100%;
    min-height    : 120.99px;
    padding-top   : 0px;
    padding-bottom: 15px;
}

.flexRow--price_mobile {
    width : 85px;
    height: 35px;
}

.flexRowContent--quanitity_selector-mobile {
    margin-top: 5px;
}

.flexCol--minicart__footer-summay--checkbutton {
    width        : 368px !important;
    border-radius: 4px;
    border       : solid 1px #E7E7E7;
}

/*Remove button*/
.flexCol--remove_button-mobile :global(.vtex-product-list-0-x-deleteIcon) {
    display: none;
}

.flexCol--remove_button-mobile :global(.vtex-product-list-0-x-removeButton)::before {
    content            : url("/arquivos/hpa-delete-icon.svg");
    display            : inline-block;
    width              : 22.69px;
    height             : 22.69px;
    background-repeat  : no-repeat;
    background-size    : 100%;
    background-position: center;
}