.drawerContent {
    max-height: 100vh;
    height    : 100%;
}

.drawer--minicart_container {
    background-color: #fff;
    height          : 100% !important;
}

.closeIconContainer--minicart_container {
    display        : flex;
    align-content  : center;
    justify-content: right;
    width          : 100%;
    padding-right  : 25px;
    top            : 30px;
    position       : relative;
}

.closeIconButton--minicart_container {
    padding-top     : 0 !important;
    padding-bottom  : 0 !important;
    background-color: #F5F4F6;
    border-radius   : 50%;
    display         : flex;
    align-items     : center;
    justify-content : center;
    padding         : 0px !important;
    z-index         : 10;
    cursor          : pointer;
}

.minicartTitle {
    display: none;
}

/*controla el contenido de los productos*/
.minicartProductListContainer {
    height          : 430px;
}

/*Button check*/
.minicartCheckoutButton--minicart-checkout-button {
    display    : flex;
    align-items: center;
    width      : 368px;
    height     : 48px;
    padding    : 0px;
}

.minicartCheckoutButton--minicart__checkout--button :global(.vtex-button) {
    border-radius   : 40px;
    border          : solid 1px #1D2734;
    gap             : 10px;
    background-color: #1D2734;
}

.minicartCheckoutButton--minicart__checkout--button :global(.vtex-button__label) {
    font-size: 0px;
}

.minicartCheckoutButton--minicart__checkout--button :global(.vtex-button__label)::after {
    content       : "Finalizar tu compra";
    text-transform: lowercase;
    font-size     : 14px;
    font-family   : "Lexend-Regular", sans-serif;
}

.minicartCheckoutButton--minicart__checkout--button :global(.vtex-button__label)::after {
    text-transform: capitalize;
}

@media (max-width: 768px) {
    .drawer--minicart_container {
        width: 100% !important;
    }
}