/*----------------------------- Global text slider´s products ------------------------------------------------*/
/* Nuevas clases - fix-styles 🧩*/
.paragraph--title__slider--global {
    margin     : 0%;
    font-family: lexend, sans-serif;
    font-weight: 500;
    font-size  : 16px;
    line-height: 16.8px;
    text-align : left;
    color      : #1D2734;
}

.heading--second__row-text--title {
    margin       : 0%;
    margin-left  : 10px;
    margin-bottom: 7px;
    font-family  : lexend, sans-serif;
    font-weight  : 600;
    font-size    : 16px;
    line-height  : 18.59px;
    color        : #1D2734;
}

.paragraph--second__row-text--title {
    display           : -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow          : hidden;
    text-overflow     : ellipsis;
    margin            : 0%;
    margin-left       : 10px;
    margin-bottom     : 10px;
    font-family       : lexend, sans-serif;
    font-weight       : 300;
    font-size         : 10px;
    line-height       : 10.84px;
    color             : #1D2734;
}

.container--third__row--button {
    align-items    : center;
    justify-content: center;
}

.wrapper--third__row--button {
    display         : flex;
    align-items     : center;
    justify-content : center;
    width           : 100px;
    height          : 32px;
    padding         : 6.45px;
    gap             : 6.45px;
    border-radius   : 40px;
    border          : 0.65px solid #1D2734;
    background-color: #1D2734;
}

.paragraph--third__row--button {
    margin: 0%;
}

.link--third__row--button {
    display        : flex;
    align-items    : center;
    justify-content: center;
    gap            : 6px;
    font-family    : lexend, sans-serif;
    font-weight    : 500;
    font-size      : 12px;
    line-height    : 14.63px;
    color          : #fff;
    text-decoration: none;
}

.link--third__row--button::after {
    content        : url("/arquivos/nav-arrow-right.svg");
    background-size: 12.91px !important;
    display        : flex;
    align-items    : center;
    justify-content: center;
    padding-top    : 2px;
}

/*---------- Desktop ------------*/
@media (min-width: 1025px) {
    .heading--second__row-text--title {
        margin-left  : 13px;
        margin-bottom: 10px;
        line-height  : 24.88px;
    }

    .paragraph--second__row-text--title {
        display           : -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow          : hidden;
        text-overflow     : ellipsis;
        margin-left       : 13px;
        margin-bottom     : 13px;
        font-weight       : 300;
        font-size         : 12px;
        line-height       : 14.52px;
    }

    .wrapper--third__row--button {
        width  : 134px;
        height : 43px;
        border : 0.86px solid #1D2734;
        padding: 8px;
        gap    : 8px;
    }

    .link--third__row--button {
        gap        : 8px;
        font-weight: 400;
        line-height: 15px;
    }

    .link--third__row--button::after {
        padding-top    : 3px;
        background-size: 17.28px !important;
    }
}