:global(.vtex-slider-layout-0-x-paginationDot--isActive~.vtex-slider-layout-0-x-paginationDot::after) {
    width           : 20px;
    height          : 1.41px;
    content         : "";
    font-size       : 0;
    background-color: hsla(214, 28%, 16%, 0.4);
    position        : absolute;
}