/*----------------------------- Global slider products ------------------------------------------------*/
/* Nuevas clases - fix-styles 🧩*/
.sliderLayoutContainer--global__home-slider--layout {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    flex-direction : column;
    min-width      : 328px !important;
    height         : auto;
    padding        : 0% !important;
    gap            : 1px;
    border         : 1px solid purple;
}

.caretIcon--global__home-slider--layout {
    width: 20px !important;
    height: 14px !important;
}

.sliderLeftArrow--global__home-slider--layout {
    padding: 0%;
    margin: 0%;
}

.sliderRightArrow--global__home-slider--layout {
    padding: 0%;
    margin: 0%;
}

.sliderTrackContainer--global__home-slider--layout {
    width     : 100%;
    min-width : 328px;
    max-width : 1092px;
    height    : auto;
    max-height: 340px;
    border    : 2px solid green;
}

.paginationDotsContainer--global__home-slider--layout {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : relative;
    height         : 50px;
    border         : 1px solid orangered;
}

.sliderTrack--global__home-slider--layout {
    /*gap: 8px;*/
    height: 100%;
}

/* Dots */
.paginationDot--global__home-slider--layout {
    display         : flex;
    align-items     : center;
    justify-content : center;
    position        : relative;
    width           : 20px !important;
    height          : 1.41px !important;
    margin          : 0 2px;
    border-radius   : 0;
    background-color: transparent;
}

.paginationDot--isActive::before {
    content         : "";
    position        : absolute;
    right           : -8px;
    width           : 16px;
    height          : 16px;
    background-color: hsla(214, 28%, 16%, 0.4);
    background-color: #1D2734;
    border-radius   : 50%;
}

.paginationDot::after {
    content         : "";
    width           : 20px;
    height          : 1.41px;
    font-size       : 0;
    background-color: hsla(214, 28%, 16%, 0.4);
    position        : absolute;
}

.paginationDot--isActive::after {
    background-color: #1D2734;
}

/* arrows */
.sliderLeftArrow--global__home-slider--layout {
    transform: translateX(-10px);
}

.sliderRightArrow--global__home-slider--layout {
    transform: translateX(10px);
}

/*.slideChildrenContainer--global__home-slider--layout {
    width: 242px;
}*/

/*.slide--global__home-slider--layout {
    justify-content: center;
}

.slideChildrenContainer--global__home-slider--layout {
    width: 242px;
}*/

/* Pruebas con slides sin tamaño validar */
.slideChildrenContainer--global__home-slider--layout {
    width: auto;
}

.slide--global__home-slider--layout {
    justify-content: center;
}


/*----------------------------- MediaQueires ---------------------------------------*/
/*---------- Desktop ------------*/
@media (min-width: 1025px) {
    .sliderLayoutContainer--global__home-slider--layout {
        width: 1092px !important;
        /*width: 1125px !important;*/
    }

    /*.slideChildrenContainer--global__home-slider--layout {
        width: 100%;
    }*/

}


/*.paginationDot--isActive::before {
    content         : "";
    position        : absolute;
    right           : -8px;
    width           : 16px;
    height          : 16px;
    background-color: #1d2734;
    border-radius   : 50%;
}

.paginationDot::after {
    width           : 44px;
    height          : 2px;
    content         : "";
    font-size       : 0;
    background-color: #1d2734;
    position        : absolute;
}*/

/*.sliderLayoutContainer--global__home-slider--layout {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
    min-width: 328px;
    height: auto;
    gap: 1px;
    border: 1px solid;
    justify-content: center;
}*/

/*.paginationDotsContainer--global__home-slider--layout {
    width: 231px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    position: relative;
}*/


/*.paginationDotsContainer--global__home-slider--layout {
    display    : flex;
    align-items: center;
    height     : 50.89px;
    width      : 100%;
}*/

/*.paginationDot--global__home-slider--layout {
    border-radius   : 0;
    background-color: transparent;
    position        : relative;
    display         : flex;
    align-items     : center;
    justify-content : center;
    margin          : 0 2px;
}*/

/*.paginationDot--isActive::before {
    content         : "";
    position        : absolute;
    right           : -8px;
    width           : 16px;
    height          : 16px;
    background-color: #1d2734;
    border-radius   : 50%;
}

.paginationDot::after {
    width           : 44px;
    height          : 2px;
    content         : "";
    font-size       : 0;
    background-color: #1D2734;
    position        : absolute;
}

.paginationDot--isActive::before {
    content         : "";
    position        : absolute;
    right           : -8px;
    width           : 16px;
    height          : 16px;
    background-color: #1D2734;
    border-radius   : 50%;
}

.paginationDot--isActive .paginationDot::after {
    width           : 44px;
    height          : 2px;
    content         : "";
    font-size       : 0;
    background-color: #1d273466;
    position        : absolute;
}*/

/*.sliderLayoutContainer--global__home-slider--layout {
    padding-bottom: 60px;
}*/

/*.caretIcon--global__home-slider--layout {
    width        : 20px !important;
    height       : 14px !important;
    border-left  : 10px solid transparent;
    border-right : 10px solid transparent;
    border-radius: 4px;
    margin-bottom: 94px;
    overflow     : visible !important;
    fill         : none;
}*/

/*.sliderLeftArrow {
    left     : -60px;
    top      : 50%;
    transform: translateY(-50%);
}

.sliderRightArrow {
    right    : -60px;
    top      : 50%;
    transform: translateY(-50%);
}*/

/*@media (min-width: 320px) and (max-width: 1279px) {
    .sliderRightArrow--global__home-slider--layout {
        display: none;
    }

    .sliderLeftArrow--global__home-slider--layout {
        display: none;
    }
}*/

/*---------- Phone ------------*/
/*@media (min-width: 320px) and (max-width: 639px) {
    .paginationDot--global__home-slider--layout {
        width: 12px !important;
    }

    .paginationDot::after {
        width: 12px !important;
    }
}*/

/*---------- Tablet ------------*/
/*@media (min-width: 640px) and (max-width: 1279px) {
    .paginationDot--global__home-slider--layout {
        width: 15px !important;
    }

    .paginationDot::after {
        width: 15px !important;
    }
}*/

/*---------- Desktop ------------*/
/*@media (min-width: 1280px) {
    .paginationDot--global__home-slider--layout {
        width : 44px !important;
        height: 40px !important;
    }
}*/