/*@media (min-width: 768px) and (max-width: 1024px) {
    .imageElement--second__row-image--bestseller {
        max-width: 85% !important;
    }
}*/

/* Nuevas clases - fix-styles */
/*:global(.vtex-store-components-3-x-imageElement--second__row-image--bestseller) {
    width: 36px !important;
    height: 36px !important;
}*/