/* Nuevas clases - fix-styles 🧩*/
.label {
    display       : block;
    font-family   : lexend, sans-serif;
    font-size     : 14px;
    font-weight   : 300;
    text-align    : center;
    color         : white;
    text-transform: lowercase;
    padding-left  : 0px;
}

.label::first-letter {
    text-transform: capitalize;
}