/*----------------------------- Header desktop section menu ---------------------------------------*/
/* Nuevas clases - fix-styles 🧩*/
.styledLinkContainer--header__pages--desktop {
    padding: 0%;
    margin : 0%;
}

.menu-item-Tendencias {
    padding-left: 13px;
}

.styledLinkContainer--menu_item {
    margin: 0%;
}

.styledLinkContent--menu_item {
    font-size         : 12px;
    font-family       : lexend, sans-serif;
    font-weight       : 400;
    color             : #1D2734;
    display           : -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow          : hidden;
    white-space       : normal;
    text-align        : center;
}

.styledLinkContent--menu_item:hover {
    text-decoration-line: underline;
    color               : #1D2734;
}

.styledLinkContainer--menu-item_trends {
    margin-right: 13px;
}

.styledLinkContent--menu-item_trends {
    text-decoration-line: underline;
    color               : #1D2734;
}

.styledLinkContainer--menu-item_collections {
    margin-right: 13px;
}

.styledLinkContainer--menu-item_offers {
    margin-right: 12px;
}

.styledLinkContainer--menu-item_ciber-day {
    margin-right: 12px;
}