/*----------------------------- "Header desktop------------------------------------------------*/
.headerRow--dekstop__header--menu {
    padding-top     : 56px;
    background-color: #fff;
}

.headerRowContainer--dekstop__header--menu {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 56px;
    padding         : 8px 48px 8px 48px;
    background-color: #fff;
    /*border        : 1px solid;*/
}

/*----------------------------- Header desktop section icons ---------------------------------------*/
/* Nuevas clases - fix-styles */
.headerStickyRow--global__header--menu-icons {
    overflow: hidden;
}

.headerRowContainer--global__header--menu-icons {
    overflow: auto;
    /*validar con coach*/
}

.headerRowContainer--global__header--menu-icons {
    width           : 100%;
    display         : flex;
    align-items     : center;
    justify-content : left;
    height          : 56px;
    padding-left    : 16px; /* Prueba responsive ok */
    padding-top     : 9px;
    background-color: #fff;
}

/*----------------------------- MediaQueires header desktop section icons ---------------------------------------*/
/* Nuevas clases - fix-styles */
/*---------- Desktop ------------*/
@media (min-width: 1025px) {
    .headerRowContainer--global__header--menu-icons {
        overflow: hidden;
        /*validar con coach*/
    }

    .headerRowContainer--global__header--menu-icons {
        padding-left : 72px;
        padding-right: 72px;
    }
}

/*----------------------------- "Header mobile------------------------------------------------*/
/* Nuevas clases - fix-styles */
.headerRow--mobile__header--menu {
    padding-top         : 40px;
    min-width           : 360px;
    background-color    : #fff;
    display             : flex;
    align-items         : end;
    /*border            : 1px solid;*/
}

.headerRowContainer--mobile__header--menu {
    height              : 72px;
    /*border            : 1px solid;*/
}

.headerRowBackground--mobile__header--menu {
    background-color: #fff;
}