/*----------------------------- Banner destkop ------------------------------------------------*/
:global(.vtex-store-components-3-x-imageElementLink) {
    width: 100%;
}

/*----------------------------- Header destkop section menu ---------------------------------------*/
.flexRowContent--header__second--section {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.flexColChild--drawer__header--desktop {
    /*background-color: #e6ff46;*/
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.flexColChild--logo__header--desktop {
    /*background-color: #9862cb;*/
    display        : flex;
    align-items    : center;
    justify-content: center;
}

/*----------------------------- Header destkop section icons ---------------------------------------*/
.flexRow--desktop__header-icons {
    background-color: #fff;
}

.flexRowContent--header__menu--categories {
    /*background-color: #b042ff;*/
    display        : flex;
    justify-content: left;
    align-items    : center;
    width          : 1136px;
    height         : auto;
    min-height     : 47px;
    left           : 72px;
    position       : relative;
}

.flexCol--categorie__icon--global {
    /*background-color: aquamarine;*/
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : auto;
    height         : 47px;
}

/*----------------------------- MediaQueires ---------------------------------------*/
@media (min-width: 360px) and (max-width: 639px) {
    .flexRowContent--header__menu--categories {
        display        : flex;
        justify-content: left;
        align-items    : center;
        width          : 1136px;
        height         : auto;
        min-height     : 47px;
        left           : 0px;
        position       : relative;
    }
}

/*---------- Tablet ------------*/
@media (min-width: 640px) and (max-width: 1279px) {
    .flexRowContent--header__menu--categories {
        display        : flex;
        justify-content: left;
        align-items    : center;
        width          : 1136px;
        height         : auto;
        min-height     : 47px;
        left           : 0px;
        position       : relative;
    }
}

/*---------- Desktop ------------*/
@media (min-width: 1280px) {}

/*----------------------------- Header mobile section menu ---------------------------------------*/
.flexRow--mobile__header-icons {
    background-color: #fff;
}

.flexRow--header__first--section--mobile {
    display: contents;
}

.flexRowContent--header__first--section--mobile {
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    padding-left    : 10px;
    padding-right   : 10px;
    padding-top     : 10px;
    background-color: #fff;
}

.flexRowContent--header__first--section--mobile :global(.vtex-minicart-2-x-minicartWrapperContainer--minicart_container) {
    display: contents !important;
}

.flexRowContent--header__first--section--mobile :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

.flexCol--logo__header--mobile {
    width          : auto;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.flexCol--container__menu-and-logo {
    flex-direction: row;
    align-items   : center;
    padding-left  : 16px;
}

.flexCol--container__search-minicart-login {
    flex-direction: row;
    align-items   : center;
    padding-right : 16px;
}