/*----------------------------- Header desktop section menu ---------------------------------------*/
/* Nuevas clases - fix-styles */
:global(.vtex-store-components-3-x-container) {
    padding: 0%;
}

.logoContainer--logo__img--custom {
    padding: 0%;
}

.autoCompleteOuterContainer--search__bar--desktop :global(.vtex-input-prefix__group) {
    border-radius     : 40px;
    gap               : 16px;
    background-color  : #F5F4F6;
    padding-left      : 16px;
    padding-right     : 16px;
    padding-top       : 11px;
    padding-bottom    : 11.76px;
    border            : none;
}

.autoCompleteOuterContainer--search__bar--desktop :global(.vtex-input-prefix__group) :global(.vtex-styleguide-9-x-input) {
    padding    : 0%;
    font-family: lexend, sans-serif;
    font-weight: 300;
    font-size  : 12px;
    line-height: 15px;
    color      : #1D2734;
}

.autoCompleteOuterContainer--search__bar--desktop :global(.vtex-input-prefix__group) :global(.vtex-input__suffix) {
    padding: 0%;
}

.searchBarIcon--search__bar--desktop {
    padding: 0%;
}

.searchIcon--search__bar--desktop {
    width : 12.19px;
    height: 12.19px;
    color : #1D2734;
}

/*----------------------------- Header mobile section menu ---------------------------------------*/
/* Nuevas clases - fix-styles */
.logoContainer--sec1__logo {
    padding: 0%;
}

/*----- overlay search bar custom styles -----*/
.searchBarContainer {
    padding-top   : 0% !important;
    padding-bottom: 0% !important;
}

:global(.vtex-overlay-layout-0-x-container--mobile__header-overlay--layout) {
    padding-top     : 0% !important;
    padding-bottom  : 0% !important;
    border          : transparent;
    border-color    : transparent;
    background-color: transparent;
}

.autoCompleteOuterContainer--header__overlay-layout--searchbar :global(.vtex-input-prefix__group) {
    border-radius: 40px
}

.suffixWrapper--header__overlay-layout--searchbar {
    display: none;
}