/* Nuevas clases - fix-styles */
.childrenContainer--categories__link--global {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    gap            : 4px;
}

.link--categories__link--global {
    text-decoration: none;
}