/*----------------------------- Header desktop section icons ---------------------------------------*/
/* Nuevas clases - fix-styles 🧩*/
.container--categorie__link-text--global {
    display        : flex !important;
    justify-content: center;
    align-items    : center;
    width          : auto;
    height         : 15px;
}

.paragraph--categorie__link-text--global {
    font-family: lexend, sans-serif;
    font-weight: 300;
    font-size  : 12px;
    line-height: 15px;
    color      : #1D2734;
    margin     : 0%;
}