/*----------------------------- "Header desktop------------------------------------------------*/
.headerRow--dekstop__header--menu {
    padding-top: 56px;
    background-color: #fff;
}

.headerRowContainer--dekstop__header--menu {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 56px;
    padding         : 8px 48px 8px 48px;
    background-color: #fff;
    border: 1px solid;
}

/*----------------------------- Header desktop section icons ---------------------------------------*/
.headerStickyRow--global__header--menu-icons {
    overflow: hidden;
}

.headerRowContainer--global__header--menu-icons {
    width           : 100%;
    display         : flex;
    align-items     : center;
    justify-content : left;
    height          : 56px;
    padding         : 8px 48px 8px 48px;
    background-color: #fff;
}

/*----------------------------- MediaQueires ---------------------------------------*/
@media (max-width: 767px) {
    .headerRowContainer--global__header--menu-icons {
        width          : 100%;
        display        : flex;
        align-items    : center;
        justify-content: left;
        height         : 56px;
        padding        : 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .headerRowContainer--global__header--menu-icons {
        width          : 100%;
        display        : flex;
        align-items    : center;
        justify-content: left;
        height         : 56px;
        padding        : 0px;
    }
}

/*----------------------------- "Header mobile------------------------------------------------*/
/* Nuevas clases - fix-styles */
.headerRow--mobile__header--menu {
    padding-top       : 40px;
    min-width         : 360px;
    /*height          : 72px;*/
    background-color  : #fff;
    border            : 1px solid;
    display           : flex;
    align-items       : end;
}

.headerRowContainer--mobile__header--menu {
    height            : 72px;
    /*min-width       : 360px;*/
    border            : 1px solid;
}

.headerRowBackground--mobile__header--menu {
    background-color: #fff;
}

/* Eliminar no necesarias*/
/*.headerRowContainer--mobile__header--menu {
    display        : flex;
    justify-content: space-around;
    width          : 100%;
    height         : auto;
}*/

/*.headerStickyRow--mobile__header--menu {
    background-color: #fff !important;
    margin-top: 40px;
}*/