/*----------------------------- Header desktop section menu ---------------------------------------*/
.logoContainer--logo__img--custom {
    padding-left : 0.5rem;
    padding-right: 1.5rem;
}

.autoCompleteOuterContainer--search__bar--desktop :global(.vtex-input-prefix__group) {
    border-radius   : 40px;
    max-width       : 280px;
    height          : 40px;
    gap             : 16px;
    background-color: #F5F4F6;
}

.autoCompleteOuterContainer--search__bar--desktop :global(.vtex-input__suffix) {
    background-color: #F5F4F6;
}

/* Nuevas clases - fix-styles */
:global(.vtex-store-components-3-x-container) {
    padding: 0%;
}

/*----------------------------- Header mobile section menu ---------------------------------------*/
/* Nuevas clases - fix-styles */
/*.logoContainer--sec1__logo {
    display        : flex;
    justify-content: left;
    align-items    : center;
    padding-left   : 0px;
}*/

.logoContainer--sec1__logo {
    padding: 0%;
}

/*----- overlay search bar custom styles -----*/
.searchBarContainer {
    padding-top   : 0% !important;
    padding-bottom: 0% !important;
}

:global(.vtex-overlay-layout-0-x-container--header__overlayout) {
    padding-top     : 0% !important;
    padding-bottom  : 0% !important;
    border          : transparent;
    border-color    : transparent;
    background-color: transparent;
}

.autoCompleteOuterContainer--header__search--mobile :global(.vtex-input-prefix__group) {
    border-radius: 40px
}

.suffixWrapper--header__search--mobile {
    display: none;
}