/* Nuevas clases - fix-styles */
.label {
    display       : block;
    font-family   : lexend, sans-serif;
    font-size     : 14px;
    font-weight   : 300;
    text-align    : center;
    color         : white;
    text-transform: lowercase;
    padding-left  : 0px;
}

.label::first-letter {
    text-transform: capitalize;
}

/* Eliminar validar con coach antes de eliminar */
/*.container {
    width          : 80px !important;
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 40px;
    background     : #1d2734;
    border-radius  : 40px;
    border         : solid 1px #1D2734;
}*/