.wishlistIconContainer--btn__favorite {
    display        : flex;
    justify-content: right !important;
    height         : 32px;
}

.wishlistIcon--btn__favorite {
    background-image: url("/arquivos/favorite_border-icon.svg") !important;
    width           : 20px;
    height          : 20px;
    position        : absolute;
    margin-right    : 0px !important;
}

.wishlistIconContainer--btn__favorite :global(.vtex-button) {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 44px;
    height         : 32px !important;
    border         : solid 1px #1D2734;
    padding        : 6px 12px 6px 12px;
    min-height     : 0 !important;
}

/*----------------------------- MediaQueires ---------------------------------------*/
@media (min-width: 320px) and (max-width: 1279px) {
    .wishlistIconContainer--btn__favorite :global(.vtex-button) {
        width: 33px !important;
    }
}