/*----------------------------- "° slider custom shelf products list ------------------------------------------------*/
/*.flexRow--container__title--slider {
    position: relative;
    top: 50px;
}*/

.flexRow--global__shelf--products {
    /*background-color: rgb(143, 255, 115);*/
    position: relative;
    top: 50px; /* Mejorar las distancis */
}

.flexRowContent--global__shelf--products {
    /*background-color: aqua;*/
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 378px;
}

.flexRow--product__summary_1 {
    display: flex;
    justify-content: center;
}

.image--custom_image__slider2 {
    width: 178px !important;
    height: 140px !important;
}

.flexRow--container__offlike--row3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.stretchChildrenWidth {
    justify-content: right;
}

.flexRowContent--container_price_iconfavorite {
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 32px;
}

/* Cambios */
.flexRow--destkop__home--shelf-products {
    background-color: aquamarine;
    display: flex;
    width: auto;
    height: auto;
}

.flexRow--global__shelf--products {
    position: relative;
    top: 0px
}

.flexRowContent--destkop__home--shelf-products {
    background-color: aliceblue;
}

/*.flexColChild {
    display: flex;
}*/