/* Quite el bage de descuento*/
.discountInsideContainer {
    display: none;
}

/* Quite el bage venta x mas productos*/
.installmentsPrice {
    display: none;
}

/*Nuevo antes del acomodo  puede afectar en responsive*/
/*.components-3-x-container {
    display: contents !important;
    padding-left: 0%;
    padding-right: 0px;
    height          : 50.89px;
    width: 100%;
}*/