.container--container__all--products {
    margin       : 6px;
    border-radius: 0px 0px 0px 0px;
}

.element--container__all--products {
    padding-bottom: 0%;
    padding-top   : 0%;
}

.image--custom_image__shelf {
    width : 178px !important;
    height: 140px !important;
}

.imageWrapper--custom_image__shelf {
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin-top     : 1px;
}

.nameContainer {
    display       : flex;
    padding-bottom: 0px;
    padding-top   : 0px;
    height        : 51px;
}

.priceContainer {
    display        : flex;
    justify-content: left;
    align-items    : baseline;
    padding-bottom : 0%;
    padding-top    : 8px;
}

.price_className {
    display       : flex;
    align-items   : flex-start;
    flex-direction: column;
    font-family   : Lexend, sans-serif;
    font-family   : 12px;
    color         : hsla(214, 28%, 16%, 0.4);
}

.price_listPrice {
    font-family: Lexend, sans-serif;
    font-size  : 14px;
    line-height: 16.8px;
}

.listPriceLabel {
    display: none;
}

.price_sellingPrice {
    font-family: Lexend, sans-serif;
    font-size  : 24px;
    line-height: 28.8px;
    font-weight: 600;
}

.sellingPriceLabel {
    display: none;
}

.buyButton--custom_button__slider3 {
    background-color: #fff;
}

/*Nuevo */
.productBrand {
    font-family       : Lexend, sans-serif;
    font-weight       : 400;
    font-size         : 14px;
    text-align        : left;
    line-height       : 16.8px;
    color             : hsla(214, 28%, 16%, 0.6);
    overflow          : hidden;
    text-overflow     : ellipsis;
    display           : -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height        : calc(16.8px * 3);
}

.price_sellingPriceContainer {
    font-family: Lexend, sans-serif;
    font-family: 24px !important;
    line-height: 28.8px;
    color      : #1D2734;
}

/*----------------------------- MediaQueires pdp tablet y phone ---------------------------------------*/
/*---------- Phone ------------*/
@media (min-width: 360px) and (max-width: 639px) {

}

/*---------- Tablet ------------*/
@media (min-width: 640px) and (max-width: 1279px) {
    .container--container__all--products {
        /*background-color: blueviolet;*/
        display         : flex;
        max-width       : 250px !important;
        max-height      : 400px
    }
}

/*---------- Desktop ------------*/
@media (min-width: 1280px) {
    
}