.buttonText--btn__add-to--cart {
    text-transform: capitalize;
}

.buttonText--btn__add-to--cart {
    font-size: 0px;
}

.buttonText--btn__add-to--cart::after {
    content    : "Agregar";
    font-family: lexend, sans-serif;
    font-size  : 14px;
}

.buttonText--btn__add-to--cart {
    display        : flex;
    align-items    : center;
    justify-content: center;
    gap            : 10px;
}

.buttonText--btn__add-to--cart::before {
    content: url("/arquivos/add_shopping_cart-pdp.svg");
    width  : 20px;
    height : 20px;
}

/*---------- Desktop ------------*/
@media (min-width: 1025px) {
    .buttonText--btn__add-to--cart {
        font-family: lexend, sans-serif;
        font-size  : 14px;
    }

    .buttonText--btn__add-to--cart::after {
        font-size: 0px;
    }
}