.quantitySelectorStepper--pdp__quantity :global(.vtex-numeric-stepper__input) {
    height     : 46px;
    font-size  : 14px;
    font-weight: 300;
    line-height: 17.5px;
    color      : #333333;
}

.quantitySelectorStepper--pdp__quantity :global(.vtex-numeric-stepper__plus-button) {
    height          : 46px;
    width           : 40px;
    background-color: #1D2734;
}

.quantitySelectorStepper--pdp__quantity :global(.vtex-numeric-stepper__minus-button) {
    height          : 46px;
    width           : 40px;
    background-color: #1D2734;
}

.quantitySelectorStepper--pdp__quantity :global(.vtex-numeric-stepper__minus-button__text) {
    font-size: 20px !important;
    color    : #fff;
}

.quantitySelectorStepper--pdp__quantity :global(.vtex-numeric-stepper__plus-button__text) {
    font-size: 20px !important;
    color    : #fff;
}