.groupName--specifications__group--name {
    font-family: lexend, sans-serif;
    font-size  : 16px;
    font-weight: 600;
    line-height: 16.8px;
    color      : #1D2734;
}

.specificationName {
    display: none;
}

.specificationValue {
    font-family: lexend, sans-serif;
    font-size  : 14px;
    font-weight: 300;
    line-height: 16.8px;
    color      : #1D2734;
}

/*---------- Desktop ------------*/
@media (min-width: 1280px) {
    .groupName--specifications__group--name {
        width: 481px !important;
    }
}