.quantitySelectorStepper--btn__quantity {
    width : 145px;
    height: 48px;
}





.quantitySelectorStepper--btn__quantity :global(.vtex-numeric-stepper__minus-button__text) {
    font-size: 20px !important;
    color    : #fff;
}

.quantitySelectorStepper--btn__quantity :global(.vtex-numeric-stepper__plus-button__text) {
    font-size: 20px !important;
    color    : #fff;
}

/* Nuevas clases - fix-styles 🧩*/
.quantitySelectorContainer--btn__quantity {
    margin-bottom: 0%;
}

.quantitySelectorStepper--btn__quantity :global(.vtex-numeric-stepper__input) {
    height     : 48px;
    /* height: 46px; */
    font-family: lexend, sans-serif;;
    font-size  : 14px;
    font-weight: 300;
    line-height: 17.5px;
    color      : #333333;
}

.quantitySelectorStepper--btn__quantity :global(.vtex-numeric-stepper__plus-button) {
    height          : 48px;
    /* height: 46px; */
    /* width           : 40px !important; */
    background-color: #1D2734;
    /* border-radius: 0 4px 0 4px; */
}

.quantitySelectorStepper--btn__quantity :global(.vtex-numeric-stepper__minus-button) {
    height          : 48px;
    /* height: 46px; */
    /* width           : 40px !important; */
    background-color: #1D2734;
}