/* Nuevas clases - fix-styles 🧩*/
.skuSelectorSubcontainer {
    margin-bottom: 16px;
}

.skuSelectorContainer--sku__selector--pdp {
    display       : flex;
    flex-direction: column-reverse;
}

.skuSelectorTextContainer {
    margin-bottom: 8px;
}

.skuSelectorSubcontainer--talla .skuSelectorName {
    font-size: 0px;
}

.skuSelectorSubcontainer--talla .skuSelectorName::after {
    content    : "Mac Size";
    font-family: lexend, sans-serif;
    font-size  : 16px;
    font-weight: 600;
    line-height: 16.8px;
    color      : #1D2734;
}

.skuSelectorSubcontainer--color .skuSelectorName {
    font-size: 0px;
}

.skuSelectorSubcontainer--color .skuSelectorName::after {
    content    : "Actual Color:";
    font-family: lexend, sans-serif;
    font-size  : 16px;
    font-weight: 600;
    line-height: 16.8px;
    color      : #1D2734;
}

.skuSelectorItemTextValue--sku__size--pdp {
    font-family: lexend, sans-serif;
    font-weight: 300;
    font-size  : 14px;
    line-height: 20px;
    color      : #646464;
}

.skuSelectorOptionsList :global(.vtex-store-components-3-x-skuSelectorItem--sku__size--pdp) {
    height: 40px;
    width : 108px;
}

.skuSelectorItemImage {
    width : 64px !important;
    height: 64px !important;
}

.frameAround--sku__selector--pdp {
    display: none;
}

.skuSelectorOptionsList :global(.vtex-store-components-3-x-skuSelectorItem--selected) {
    border       : solid 1px #1D2734;
    border-radius: 4px;
}

.productImagesGallerySwiperContainer {
    padding-bottom: 8px;
}

.productImagesGallerySlide {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.productImage {
    border       : solid 1px #E7E7E7 !important;
    border-radius: 4px !important;
}

.figure {
    border       : solid 1px #E7E7E7 !important;
    border-radius: 4px;
}

.productImagesThumb {
    margin-bottom: 0%;
    margin-right : 6px;
    width        : auto !important;
    height       : auto !important;
}

.thumbImg {
    border: solid 1px #E7E7E7 !important;
    width : 90px;
    height: 76px;
}

.shareLabel {
    font-size: 0px;
    margin   : 0%;
}

.shareLabel::before {
    content    : "Share";
    font-family: lexend, sans-serif;
    font-size  : 16px;
    font-weight: 600;
    line-height: 16.8px;
    color      : #1D2734;
}

.shareContainer {
    display       : flex;
    flex-direction: column;
    gap           : 8px;
    width         : 100%;
    padding-top   : 16px;
    border-top    : 1px solid #E7E7E7;
}

.shareSocialButton {
    margin: 0%;
}

.shareSocialIcon--facebook {
    width : 40px;
    height: 40px;
}

.shareSocialIcon--twitter {
    display: none;
}

.shareSocialIcon--whatsapp {
    width : 40px;
    height: 40px;
}

.shareSocialIcon--pinterest {
    width : 40px;
    height: 40px;
}

.shareSocialIcon--facebook {
    padding-right: 16px;
}

.shareSocialIcon--whatsapp {
    padding-right: 16px;
}

.carouselGaleryThumbs {
    padding: 0px;
}

/*---------- Desktop ------------*/
@media (min-width: 1025px) {
    .productImagesThumb {
        margin-bottom: 6px;
        margin-right : 0%;
    }

    .productImage {
        width        : auto;
        height       : 100%;
        max-height   : 650px;
        border       : solid 1px #E7E7E7 !important;
        border-radius: 4px !important;
    }

    .productImageTag {
        max-height: 650px !important;
    }

    .productImagesGallerySwiperContainer {
        padding-bottom: 0%;
    }
}

/*---------- Phone ------------*/
@media (min-width: 320px) and (max-width: 1024px) {
    .carouselGaleryThumbs {
        display: contents;
    }
}

/*---------- Portatil ------------*/
@media (min-width: 320px) and (max-width: 768px) {
    .productImage {
        width: 328px;
    }
}



/* Clases no necesarias limpieza */
/* @media (min-width: 320px) and (max-width: 1024px) {
    .productImagesContainer--product__images--dekstop {
        display: none;
    }

    .productImagesContainer--product__images--mobile {
        display: block;
        width: 100%;
        height: auto;
    }
} */

/*---------- Desktop ------------*/
/* @media (min-width: 1280px) {
    .carouselGaleryThumbs {
        left   : 72px;
        padding: 0px;
        z-index: 10;
        width  : 92px !important;
        height : 650px;
        display: flex;
        gap    : 6px; 
    }

    .productImage {
        width        : 650px;
        height       : 650px;
        border       : solid 1px #E7E7E7 !important;
        min-width    : 328px;
        min-height   : 419px;
        border-radius: 4px !important;
    }

    .figure {
        margin-right: 0px;
    }
} */

/* @media (max-width: 639px) {
    .carouselGaleryThumbs {
        display: contents;
    }
} */

/*---------- Tablet ------------*/
/* @media (min-width: 640px) and (max-width: 1279px) {
    .carouselGaleryThumbs {
        padding     : 0px; 
        padding-left: 15px;
    }
} */

/* .figure {
    border      : solid 1px #E7E7E7 !important;
    width       : 90px;
    height      : 76px;
    margin-right: 6px;
} */

/* .carouselGaleryThumbs .swiper-wrapper {
    gap: 6px;
} */

/* .skuSelectorName {
    font-size: 0px;
} */

/* .skuSelectorName::after {
    content: "Mac Size";
    font-family: "Lexend-black", sans-serif;
    font-size  : 16px;
    font-weight: 600;
    line-height: 16.8px;
    color      : #1D2734;
} */

/* .skuSelectorName {
    font-family: "Lexend-black", sans-serif;
    font-size  : 16px;
    font-weight: 600;
    line-height: 16.8px;
    color      : #1D2734;
} */

/* .shareLabel {
    font-family   : lexend, sans-serif;
    font-size     : 16px;
    font-weight   : 600;
    line-height   : 16.8px;
    color         : #1D2734;
    margin: 0%;
} */

/* .carouselGaleryThumbs {
    padding: 10px;
} */

/* .swiper-wrapper {
    gap: 5px;
} */