/* Sku selector´s */
.skuSelectorContainer--sku__selector--pdp {
    display       : flex;
    flex-direction: column-reverse;
}

.skuSelectorTextContainer {
    margin-top: 5px;
}

.skuSelectorName {
    font-family: "Lexend-black", sans-serif;
    font-size  : 16px;
    font-weight: 600;
    line-height: 16.8px;
    color      : #1D2734;
}

.skuSelectorOptionsList :global(.vtex-store-components-3-x-skuSelectorItem--sku__size--pdp) {
    height: 40px;
    width : 108px;
}

.skuSelectorItemImage {
    width : 64px !important;
    height: 64px !important;
}

.skuSelectorOptionsList :global(.vtex-store-components-3-x-skuSelectorItem--selected) {
    border       : solid 1px #1D2734;
    border-radius: 4px;
}

.frameAround--sku__selector--pdp {
    display: none;
}

.skuSelectorItemTextValue--sku__size--pdp {
    font-family: "Lexend-black", sans-serif;
    font-weight: 300;
    font-size  : 14px;
    line-height: 20px;
    color      : #646464;
}

/* share icons */
.shareLabel {
    font-family   : "Lexend-black", sans-serif;
    font-size     : 16px;
    font-weight   : 600;
    line-height   : 16.8px;
    color         : #1D2734;
    padding-bottom: 5px;
}

.shareSocialIcon--facebook {
    width : 40px;
    height: 40px;
}

.shareSocialIcon--twitter {
    display: none;
}

.shareSocialIcon--whatsapp {
    width : 40px;
    height: 40px;
}

.shareSocialIcon--pinterest {
    width : 40px;
    height: 40px;
}

/* images y carrousel */
.carouselGaleryThumbs {
    padding: 10px;
} 
/*.productImagesGallerySlide {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50px;
}*/

/*.carouselGaleryThumbs {
    background-color: aquamarine;
    width: 328px;
    height: 76px;
} QUITE ESTE OJO */

/*.carouselGaleryThumbs {
    background-color: aquamarine;
    width: 100%;
    height: auto;
    min-width: 200px;
    max-width: 328px;
    min-height: 50px;
    max-height: 76px;
}*/

.productImagesThumb {
    /*display: inline-table;*/
    width: auto !important;
    height: auto !important;
}

/*.productImage {
    width: 515px;
    height: 650px;
    border: solid 1px #E7E7E7 !important;
    min-width: 328px;
    min-height: 419px;
}*/

/* images y carrousel */
.productImagesGallerySlide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.productImage {
    /*width        : 650px;
    height       : 650px;*/
    border       : solid 1px #E7E7E7 !important;
    /*min-width    : 328px;
    min-height   : 419px;*/
    width: 328px;
    height: 419px;
    border-radius: 4px !important;
    /*background-color: aquamarine;*/
}

.swiper-wrapper {
    gap: 5px;
}

.thumbImg {
    border: solid 1px #E7E7E7 !important;
    width : 90px;
    height: 76px;
}

.figure {
    border: solid 1px #E7E7E7 !important;
    width : 90px;
    height: 76px;
}

/*----------------------------- MediaQueires pdp tablet y phone ---------------------------------------*/
/*---------- Phone ------------*/
@media (max-width: 767px) {
    .productImagesGallerySlide {
        left: 0px;
    }

    .productImage {
        width : 328px;
        height: 419px;
    }

    .productImagesContainer--carousel .carouselGaleryThumbs {
        display: block;
    }
}

/*---------- Tablet ------------*/
/*@media (min-width: 768px) and (max-width: 1024px) {
    .productImagesGallerySlide {
        left: 0px;
    }

    .productImage {
        width : 400px;
        height: 500px;
    }
}*/

@media (min-width: 640px) and (max-width: 1024px) {
    .productImagesGallerySlide {
        left: 0px;
    }

    /*.productImage {
        width : 400px;
        height: 500px;
    }*/

    .carouselGaleryThumbs {
        padding: 0px;
    } 
}

/*---------- Desktop ------------*/
/*@media (min-width: 1024px) and (max-width: 1280px) {
    .productImagesGallerySlide {
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50px;
    }
}*/

/*---------- Desktop ------------*/
@media (min-width: 1280px) {
    .productImagesGallerySlide {
        display           : flex;
        align-items       : center;
        justify-content   : center;
        /*left            : 50px; Validar si quitar con los cambios nuevos */
        /*background-color: aquamarine;*/
        /*border          : solid 1px #E7E7E7*/
    }

    /*.carouselGaleryThumbs {
        left              : 72px;
        /* Validad si quitar de mobile
        z-index           : 10;
        /* Validar */
        /*display         : flex;
        /*align-items     : center;
        width             : 92px !important;
        /*background-color: aquamarine;
    }*/

    .carouselGaleryThumbs {
        left              : 72px;
        /* Validar si quitar de mobile*/
        z-index           : 10;
        /* Validar */
        /*display         : flex;*/
        /*align-items     : center;*/
        width             : 100%; /* Ancho completo del contenedor */
        max-width         : 92px; /* No excederá los 92px de ancho */
        /*background-color: aquamarine;*/
        max-height: none;
        min-width: 90px;
    }

    .productImage {
        width        : 650px;
        height       : 650px;
        border       : solid 1px #E7E7E7 !important;
        min-width    : 328px;
        min-height   : 419px;
        border-radius: 4px !important;
    }
}