:global(.vtex-product-specifications-1-x-specificationValue--last) :global(ul) {
    padding-left: 0px;
}

:global(.vtex-product-specifications-1-x-specificationValue--last) :global(ul) :global(li):nth-child(odd) {
    background-color: #E7E7E7;
    height: 48px;
    align-items: center;
    display: flex;
    padding-left: 24px;
}

:global(.vtex-product-specifications-1-x-specificationValue--last) :global(ul) :global(li):first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

:global(.vtex-product-specifications-1-x-specificationValue--last) :global(ul) :global(li):nth-child(even) {
    background-color: #FFFFFF;
    height: 48px;
    align-items: center;
    display: flex;
    padding-left: 24px;
}

/*---------- Desktop ------------*/
@media (min-width: 1280px) {
    :global(.vtex-product-specifications-1-x-specificationValue--last) :global(ul) {
        padding-left: 72px;
    }

    :global(.vtex-product-specifications-1-x-specificationValue--last) :global(ul) :global(li):nth-child(odd) {
        width: 1069px;
    }

    :global(.vtex-product-specifications-1-x-specificationValue--last) :global(ul) :global(li):nth-child(even) {
        width: 1069px;
    }
}