.styledLink--menu_header_destkop1 {
    font-size: 12px !important;
    font-family: Lexend, sans-serif !important;
    font-weight: 400 !important;
}

/*.menuContainer--menu_header_destkop1 .p10 {
    padding-left: 0% !important;
}*/