.flexColChild--image__to__banner{
    width: 100%;
    height: 422px;
    top: 168px;
}

.flexRowContent--seccion__principal1 {
    display: flex;
    justify-content: center;
    /*background-color: rgb(208, 255, 0);*/
}

.flexCol--estructura__de__tarjeta--principal4{
    /*background-color: aqua;*/
    width: 324px;
    height: 336px;
    border-radius: 12px;
    gap: 5px;
}

.flexRow--este__contiene__textoicon7{
    justify-content: space-between;
    width: 324px;
}

/*--------------- Second slider css------------------------------------*/

.flexRow--product__summary_1 {
    display: flex;
    justify-content: center;
}