.paragraph--title__slider--global {
    font-family: Lexend, sans-serif;
    font-weight: 500 !important;
    font-size: 16px;
    line-height: 16.8px;
    color: #1D2734;
    width: 165px;
    height: 17px;
    text-align: left;
    margin-bottom: 20px !important;
    margin-top: 20px !important;
    margin-left: 72px;
    top: 630px;
    /*left: 72px;*/
    /*position: absolute; /*Nuevo*/
}

.wrapper--title__slider--global{
    margin-top: 20px !important;
}

.heading--container__description8 {
    width: 234.14px;
    text-align: left;
    font-family: Lexend, sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #1D2734;
    line-height: 24.88px;
    padding: 0px 0px 0px 13.82px !important;
}

.paragraph--container__description8{
    width: 234.14px;
    height: 30px;
    text-align: left;
    font-family: Lexend, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 14.52px;
    padding: 0px 0px 0px 13.82px !important;
}

.container--button__to__product10 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper--button__to__product10 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 134px;
    height: 43px;
    border-radius: 40px;
    border: solid 0.86px;
    padding: 8px;
    gap: 8px;
    background-color: #1D2734;
}

.link--button__to__product10 {
    font-family: Lexend, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #fff;
}

/*----------------------------- "° slider custom products list ------------------------------------------------*/

.wrapper--este__esel__off4 {
    font-family: Lexend, sans-serif;
    background-color: #1D2734;
    border-radius: 4px !important;
    border: solid 1px !important;
    width: 84px;
    height: 32px;
    padding: 6px 12px 6px 12px;
    gap: 10px;
}

.paragraph--este__esel__off4 {
    margin: 0PX;
    width: 60px;
    height: 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
}