.headerRowContainer--all_section--header1 {
    /*background-color: aqua;*/
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}

/*.headerRowContentContainer--all_section--header1 {
    background-color: aqua;
}*/