/*----------------------------- Global slider products ------------------------------------------------*/
.sliderLayoutContainer--global__slider--home {
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.slide--global__slider--home{
    /*background-color: #c38af9;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.caretIcon--global__slider--home {
    /*background-color: rgb(0, 255, 30);*/
    width: 20px !important;
    height: 14px !important;
    border-radius: 4px;
    margin-bottom: 94px;
    overflow: visible;
}

.sliderLeftArrow {
    left: 40px;
}

.sliderRightArrow {
    right: 40px;
}

.paginationDot--isActive {
    transform: scale(1.5);
    background-color: #1D2734;
    transition: background-color 0.3s, transform 0.3s;
}

.paginationDotsContainer--global__slider--home {
    /*background-color: #5c7cff;*/
    /*position: absolute;*/
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 231.82px !important;*/
    height: 50.89px !important;
    /*top: 1011px;
    left: 524px;*/
    margin-top: 10px;
    top: 330px !important;
    height: 50.89px;
}