.styledLink--header__pages--desktop {
    font-size       : 12px !important;
    font-family     : Lexend, sans-serif !important;
    font-weight     : 400 !important;
    background-color: #F5F4F6;
}