/*----------------------------- "Header ------------------------------------------------*/

.flexColChild--Container_drawer_3 {
    /*background-color: #e6ff46;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexColChild--Container_logo_4 {
    /*background-color: #9862cb;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Nuevo prueba para ajuste 2*/
.flexRowContent--row_container_categories_menu2 {
    /*background-color: #b042ff;*/
    display: flex;
    /*justify-content: center;  /*Cambio*/
    justify-content: left; 
    align-items: center;
    width: 1136px;
    height: auto;
    min-height: 47px;
    left: 72px;
    position: relative;
}


/* Nuevo prueba para ajuste*/
/*.flexRowContent--row_container_categories_menu2 {
    background-color: #b042ff;
    display: flex;
    /*justify-content: left;  Cambio
    justify-content: center;
    align-items: center;
    width: 1136px;
    height: auto;
    min-height: 47px;
    /*position: absolute;
    top: 9px; */
    /*left: 72px;
}*/


/* Nuevo prueba 2 para ajuste agregamos queries vistas en mobile y phone*/
@media (max-width: 767px) {
    .flexRowContent--row_container_categories_menu2 {
        /*background-color: #b042ff;*/
        display: flex;
        justify-content: left; /* Cambio*/
        align-items: center;
        width: 1136px;
        height: auto;
        min-height: 47px;
        left: 0px; /* Cambio*/
        position: relative;
    }
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    .flexRowContent--row_container_categories_menu2 {
        /*background-color: #b042ff;*/
        display: flex;
        justify-content: left; /* Cambio*/
        align-items: center;
        width: 1136px;
        height: auto;
        min-height: 47px;
        left: 0px; /* Cambio*/
        position: relative;
    }
}

/* A partir de aqui va la categorioa general prueba 1*/
.flexCol--categorie__icon--global {
    /*background-color: aquamarine;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 47px;
}

/*.flexColChild--categorie__icon--food {
    background-color: rgb(255, 171, 252);
    /*width: 20px;
    height: 20px;*
}*/

.flexRowContent--container__login__minicart_8 {
    display: flex;
    justify-content: center;
    align-items: center;
}