/*----------------------------- PLP custom styles dekstop ------------------------------------------------*/
.flexRowContent--product__gallery--plp {
    display       : flex;
    flex-direction: column;
}

.flexRowContent--product__gallery--plp :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 100% !important;
}

.flexCol--breadcrumb__search {
    display        : flex;
    align-items    : baseline;
    justify-content: left;
    left           : 72px;
    position       : relative;
    font-size      : 14px;
}

.flexColChild--sort__options {
    display    : flex;
    align-items: center;
    position   : relative;
    right      : 50px;
}

.flexRow--filter__options--plp {
    width             : 184px !important;
    /*max-width       : 184px;*/
    /*background-color: aliceblue;*/
    margin-left       : 72px;
}

.flexRowContent--product__gallery--plp .stretchChildrenWidth {
    justify-content: left;
}



.flexCol--product__shelf--image :global(.vtex-product-summary-2-x-image--product__summary--image) {
    width : 136px !important;
    height: 107px !important;
}

.flexColChild--product__shelf--details :global(.vtex-product-summary-2-x-brandName--product_summary-name) {
    font-family: lexend, sans-serif;
    font-size  : 12px !important;
    line-height: 12.76px;
    color      : hsla(214, 28%, 16%, 0.6);
}

.flexColChild--product__shelf--details :global(.vtex-product-price-1-x-listPriceValue--product_summary-price) {
    font-family: lexend, sans-serif;
    font-size  : 12px !important;
    font-weight: 400;
    line-height: 12.76px;
    color      : rgba(29, 39, 52, 0.4);
}

.flexColChild--product__shelf--details :global(.vtex-product-price-1-x-sellingPriceValue--product_summary-selling-price) {
    font-family: lexend, sans-serif;
    font-size  : 20px !important;
    font-weight: 600;
    line-height: 21.87px;
    color      : #1D2734;
}

/* Validar*/ 
.flexCol--sort__options {
    position: relative !important;
    right   : 50px !important;
}

/* Nuevas clases - fix-styles 🧩*/
.flexCol--product__shelf--details {
    display        : flex;
    align-items    : flex-start;
    justify-content: left;
    gap            : 6px;
}

.flexRow--shelf__details--prices :global(.vtex-product-price-1-x-listPrice--product_summary-price) {
    text-align: left;
}

.flexRowContent--shelf__details--prices {
    flex-direction: column;
}

/*----------------------------- PLP custom styles mobile ------------------------------------------------*/
/* Nuevas clases - fix-styles 🧩*/
.flexRowContent--mobile__plp--head {
    flex-direction: column;
}

.flexCol--mobile__plp-head--filters {
    flex-direction: row;
}

.flexRowContent--mobile__plp--head :global(.vtex-breadcrumb-1-x-container) {
    padding: 16px 0px 16px 16px;
}

.flexRowContent--mobile__plp--head :global(.vtex-breadcrumb-1-x-link) {
    padding    : 0%;
    font-family: montserrat, lexend, sans-serif;
    font-size  : 12px;
}

.flexRowContent--mobile__plp--head :global(.vtex-breadcrumb-1-x-link--1) {
    color: #8E8A92;
}

.flexRowContent--mobile__plp--head :global(.vtex-breadcrumb-1-x-link--2) {
    color: #1D2734;
}

.flexRowContent--mobile__plp--head :global(.vtex-breadcrumb-1-x-homeIcon) {
    width : 16px;
    height: 16px;
}

.flexCol--mobile__plp-head--filters {
    gap         : 4px;
    padding-left: 16px;
}

.flexRow--mobile__plp--body {
    margin-top: 16px;
}

.flexRowContent--mobile__plp--searchs {
    display       : flex;
    flex-direction: column;
    gap           : 5px;
}

.flexRowContent--mobile__plp--searchs :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    margin: 0 auto;
}

.flexRowContent {
    background-color: #fff;
}

.flexRow--mobile__plp--searchs {
    margin-top: 16px;
}

.flexRowContent--gallery__product--shelf {
    display       : flex;
    flex-direction: row;
    gap           : 9px;
}

/* Clases no necesarias eliminar en limpieza*/
/* .flexRowContent--mobile__plp--searchs span {
    font-family: lexend, sans-serif;
} */

/* .flexRowContent--global__result-order-filter {
    flex-direction: column;
}

.flexCol--body__result-order-filter {
    flex-direction: row;
    margin-bottom : 15px;
} */

/*----------------------------- MediaQueires ---------------------------------------*/
/* @media (max-width: 767px) {
    .flexRowContent--gallery__product--shelf {
        display       : flex;
        flex-direction: row;
    }
} */