.searchResultContainer {
    background-color: #fff;
}

.container--layout {
    background-color: #fff;
}

/*----------------------------- PLP custom styles desktop ------------------------------------------------*/
.totalProducts--layout {
    padding-left: 0px;
    font-family : lexend, sans-serif;
    font-size   : 14px;
    font-weight : 300;
    color       : #1D2734;
    line-height : 17.5px;
}

.totalProductsMessage {
    text-transform: lowercase;
    font-family   : Lexend, sans-serif;
    font-size     : 14px;
    font-weight   : 300;
    line-height   : 17.5px;
    color         : #1D2734;
}

.totalProductsMessage::after {
    content: " encontrados";
}

.filterMessage--plp__filter-navigator {
    display: none;
}

.filterTitle--plp__filter-navigator {
    width           : 184px;
    height          : 36px;
    background-color: #1D27341A;
    border-radius   : 40px;
    padding         : 8px 16px 8px 16px;
}

.filter__container--category-2 .filterTitle--plp__filter-navigator {
    border: solid 1px #1D2734;
}

.filterTitleSpan--plp__filter-navigator {
    display    : flex;
    align-items: center;
    font-family: lexend, sans-serif;
    font-weight: 400;
    font-size  : 14px;
    line-height: 20px;
}

.filter__container--category-2 .filterTitleSpan--plp__filter-navigator {
    font-size: 0px;
}

.filter__container--category-2 .filterTitleSpan--plp__filter-navigator::before {
    content    : "Category";
    font-family: lexend, sans-serif;
    font-weight: 400;
    font-size  : 14px;
    line-height: 20px;
}

.filter__container--category-3 .filterTitleSpan--plp__filter-navigator {
    font-size: 0px;
}

.filter__container--category-3 .filterTitleSpan--plp__filter-navigator::before {
    content    : "Subcategory";
    font-family: lexend, sans-serif;
    font-weight: 400;
    font-size  : 14px;
    line-height: 20px;
}

.filter__container--priceRange .filterTitleSpan--plp__filter-navigator {
    font-size: 0px;
}

.filter__container--priceRange .filterTitleSpan--plp__filter-navigator::before {
    content    : "Price ranges";
    font-family: lexend, sans-serif;
    font-weight: 400;
    font-size  : 14px;
    line-height: 20px;
}

.filterIcon--plp__filter-navigator {
    padding-right: 0px;
}

.caretIcon--plp__filter-navigator {
    display: none;
}

.filterIcon--plp__filter-navigator::after {
    content: url("/arquivos/span-icon-filter.svg");
}

/* Validar */
.filter {
    padding-top   : 0px;
    padding-bottom: 0px;
}

.filterItem {
    display    : flex;
    align-items: center;
    height     : 44px;
    padding    : 10px;
    gap        : 10px;
    font-family: lexend, sans-serif;
    font-weight: 300;
    font-size  : 12px;
    line-height: 15px;
    color      : #1D2734;
}

.filter__container--priceRange .filterTemplateOverflow--plp__filter-navigator {
    height         : 56px;
    display        : flex;
    justify-content: center;
    font-family    : lexend, sans-serif;
    font-size      : 14px;
    font-weight    : 300;
    line-height    : 20px;
    color          : #1D2734;
}

.filterTemplateOverflow--plp__filter-navigator :global(.vtex-slider__left-value) {
    font-family: lexend, sans-serif;
    font-size  : 14px;
    font-weight: 300;
    line-height: 20px;
    color      : #1D2734;
}

.filterTemplateOverflow--plp__filter-navigator :global(.vtex-slider__right-value) {
    font-family: lexend, sans-serif;
    font-size  : 14px;
    font-weight: 300;
    line-height: 20px;
    color      : #1D2734;
}

/* Vaidar */
.homeIcon {
    width : 20px !important;
    height: 20px !important;
}

.arrow--2 :global(.vtex-breadcrumb-1-x-link--2) {
    color: #1D2734;
}

.filterPopupTitle--plp__order-by-filter {
    font-size: 0px;
}

.galleryLayoutSwitcher {
    display        : flex;
    justify-content: end;
    padding-bottom : 20px;
    padding-right  : 50px;
}

.flexColChild--product__shelf--details :global(.vtex-product-summary-2-x-productBrand--product_summary-name) {
    font-size: 12px;
}

.buttonShowMore--button__see-more-gallery :global(.vtex-button) {
    width           : 110px;
    height          : 32px;
    border-radius   : 40px;
    border          : solid #1D2734 1px;
    padding         : 6px 12px 6px 12px;
    background-color: #1D2734;
    display         : flex;
    flex-direction  : row;
    align-items     : center;
    justify-content : center;
    padding-left    : 0px;
    padding-right   : 0px;
}

.buttonShowMore--button__see-more-gallery :global(.vtex-button__label) {
    font-size: 0px;
}

.buttonShowMore--button__see-more-gallery :global(.vtex-button__label)::before {
    content       : "Ver mas";
    text-transform: lowercase;
    font-family   : lexend, sans-serif;
    font-size     : 14px;
    font-weight   : 400;
    line-height   : 20px;
    color         : #fff;
}

.buttonShowMore--button__see-more-gallery :global(.vtex-button__label)::after {
    content    : url("/arquivos/button-plus-line.svg");
    margin-left: 5px;
}

.filterTemplateOverflow--plp__filter-navigator :global(.vtex-slider__base-internal) {
    background-color: #1D2734;
}

.filterTemplateOverflow--plp__filter-navigator :global(.vtex-slider__selector) {
    background-color: #1D2734;
}

/*----------------------------- PLP custom styles mobile ------------------------------------------------*/
/* Nuevas clases - fix-styles 🧩*/
.galleryTitle--layout {
    margin-top   : 0%;
    margin-left  : 16px;
    margin-bottom: 16px;
    font-family  : lexend, sans-serif;
    font-weight  : 600;
    font-size    : 14px;
    line-height  : 17.5px;
    color        : #1D2734;
}

.orderByButton--plp__order-by-filter {
    display         : flex;
    justify-content : space-between;
    width           : 147px;
    height          : 40px;
    padding         : 14px 12px 14px 12px;
    border-radius   : 40px;
    background-color: #E7E7E7;
    border          : solid #1D2734 1px;
    position        : relative;
    /* Prueba */
}

/* puebra contener sortby */
.orderByOptionsContainer {
    position: absolute;
    right   : -30px;
}

.orderByButton--plp__order-by-filter::before {
    content        : url("/arquivos/mpa-filter-settings.svg");
    /* margin-right: 5px; */
}

.orderByText--plp__order-by-filter {
    display       : flex;
    align-items   : center;
    text-transform: lowercase;
    font-family   : lexend, sans-serif;
    font-size     : 12px;
    font-weight   : 400;
    line-height   : 17.5px;
    color         : #1D2734;
}

.orderByOptionItem--plp__order-by-filter {
    font-family: lexend, sans-serif;
    font-size  : 12px;
    font-weight: 400;
    line-height: 17.5px;
    color      : #1D2734;
}

.filterPopupArrowIcon--plp__order-by-filter {
    padding-left : 0px !important;
    padding-right: 0px !important;
}

.filterPopupArrowIcon--plp__order-by-filter :global(.vtex-search-result-3-x-caretIcon--plp__order-by-filter) {
    display: none;
}

.filterPopupArrowIcon--plp__order-by-filter::before {
    content: url("/arquivos/arrow_drop_down.png");
}

.filterPopupButton {
    width              : 110px;
    height             : 40px;
    display            : flex;
    justify-content    : space-between;
    padding            : 14px 12px 14px 12px;
    margin-top         : 2px;
    background-color   : #E7E7E7;
    border-radius      : 40px;
    /* margin-left     : 5px; */
}

.filterPopupButton::before {
    content: url("/arquivos/view_quilt.svg");
}

.filterPopupArrowIcon {
    padding-left: 0%;
    padding     : 0%;
}

.filterPopupArrowIcon--plp__filter-navigator :global(.vtex-search-result-3-x-filterIcon--plp__filter-navigator) {
    display: none;
}

.filterPopupArrowIcon--plp__filter-navigator::before {
    content: url("/arquivos/arrow_drop_down.png");
}

.filterPopupTitle--plp__filter-navigator {
    display        : flex;
    align-items    : center;
    justify-content: center;
    text-transform : lowercase;
    font-family    : lexend, sans-serif;
    font-size      : 12px;
    font-weight    : 400;
    line-height    : 15px;
    color          : #1D2734;
}

.showingProducts {
    font-size: 12px;
}

.buttonShowMore--button__see-more-gallery :global(.vtex-button__label) {
    padding: 0% !important;
}

.accordionFilter {
    font-family: lexend, sans-serif;
    font-size  : 12px;
    color      : #1D2734;
}

.filterBreadcrumbsText--plp__filter-navigator {
    font-family: lexend, sans-serif;
    font-size  : 12px;
    color      : #1D2734;
}

.filterBreadcrumbsItemName--plp__filter-navigator {
    font-family: lexend, sans-serif;
    font-size  : 12px;
    color      : #1D2734;
}

.accordionFilterItemTitle--plp__filter-navigator {
    font-family: lexend, sans-serif;
    font-size  : 12px;
    color      : #1D2734;
}

.filterClearButtonWrapper--plp__filter-navigator :global(.vtex-button) {
    font-size: 12px;
}

.filterApplyButtonWrapper--plp__filter-navigator :global(.vtex-button) {
    font-size: 12px;
}

.filterAccordionItemBox--informatica :global(.vtex-checkbox__label) {
    font-family: lexend, sans-serif;
    font-size  : 12px;
    font-weight: 300;
    line-height: 15px;
    color      : #1D2734;
}

.accordionFilterItemOptions {
    background-color: #fff;
}

.filter--plp__filter-navigator {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.filterTitleSpan--plp__filter-navigator {
    margin: 0 auto;
}

/*---------- Desktop ------------*/
@media (min-width: 1025px) {
    .galleryTitle--layout {
        margin-left: 0px;
        font-size  : 20px;
        line-height: 25px;
    }

    .orderByButton--plp__order-by-filter {
        width : 170px;
        border: none;
    }

    .orderByText--plp__order-by-filter {
        font-size: 14px;
    }

    .orderByOptionItem--plp__order-by-filter {
        font-size: 14px;
    }
}

/*----------------------------- PLP custom styles mobile-phone ------------------------------------------------*/
/*claes no necearias eiminar en limpieza*/
/* .galleryTitle--layout {
    font-family: lexend, sans-serif;
    font-size  : 20px;
    font-weight: 600;
    color      : #1D2734;
    line-height: 25px;
} */

/* .filterPopupArrowIcon--plp__order-by-filter {
    padding-left : 0px !important;
    padding-right: 0px !important;
}

.filterPopupArrowIcon--plp__order-by-filter .caretIcon--plp__order-by-filter {
    display: none;
}

.filterPopupArrowIcon--plp__order-by-filter::after {
    content: url("/arquivos/span-icon-filter.svg");
} */

/* .filterPopupTitle--plp__filter-navigator::before {
    content: url("/arquivos/view_quilt.svg");
} */

/*----------------------------- MediaQueires ---------------------------------------*/
/* @media (max-width: 767px) {
    .galleryLayoutSwitcher {
        display: none;
    }

    .galleryTitle--layout {
        font-size: 14px;
    }

    .flexCol--head__result-order-filter :global(.vtex-breadcrumb-1-x-link) {
        font-size: 12px !important;
    }

    .orderByButton--plp__order-by-filter {
        width : 147px;
        height: 40px;
        border: solid #1D2734 1px;
    }

    .orderByText--plp__order-by-filter {
        font-size: 12px;
        width    : 72px;
    }

    .filterPopupArrowIcon--plp__order-by-filter {
        padding-left : 0px !important;
        padding-right: 0px !important;
    }
} */

/* @media (min-width: 768px) and (max-width: 1024px) {
    .galleryLayoutSwitcher {
        padding-top: 10px;
    }

    .flexCol--head__result-order-filter :global(.vtex-breadcrumb-1-x-link) {
        font-size: 12px !important;
    }

    .galleryTitle--layout {
    font-size: 14px;
    }

    .orderByButton--plp__order-by-filter {
        width : 147px;
        height: 40px;
        border: solid #1D2734 1px;
    }

    .orderByText--plp__order-by-filter {
        font-size: 12px;
        width    : 72px;
    }

    .filterPopupArrowIcon--plp__order-by-filter {
        padding-left : 0px !important;
        padding-right: 0px !important;
    }
} */