/*.custom-banner--destkop {
    height: 422px;
    margin-top: 168px;
}*/

/*.vtex-flex-layout {
    height: 422px;
    margin-top: 168px;
}*/

/*.fixed-top {
    margin-top: 168px !important; 
}

.flexColChild--image__to__banner{
    top: 168px !important;
}*/