:global(.vtex-mega-menu-2-x-menuContainer h3) {
    font-size  : 14px;
    font-weight: 600;
    color      : #1D2734;
    display    : flex;
    align-items: center;
}

:global(.vtex-mega-menu-2-x-menuContainer h3::before) {
    content     : url("/arquivos/icon_color-m-menu.png");
    margin-right: 0.4rem;
    width       : 20px;
    height      : 20px;
}

:global(.vtex-mega-menu-2-x-departmentsTitle h3) {
    font-size: 0px;
}

:global(.vtex-mega-menu-2-x-departmentsContainer h3::before) {
    content     : url("/arquivos/icon_color-m-menu.png");
    max-width   : 10px !important;
    max-height  : 10px !important;
    margin-right: 5px;
    position    : relative;
    top         : 5px;
}

:global(.vtex-mega-menu-2-x-departmentsContainer h3::after) {
    content    : "ITGlober+";
    max-width  : 10px !important;
    max-height : 10px !important;
    font-size  : 12px;
    font-weight: 300;
    line-height: 15px;
    font-family: "Lexend-Regular", sans-serif !important;
}

:global(.vtex-mega-menu-2-x-menuContainerNavVertical h3) {
    font-size  : 12px;
    font-weight: 300;
    line-height: 15px;
}

/* Nuevas clases - fix-styles */
:global(.vtex-mega-menu-2-x-triggerContainer) {
    padding: 0% !important;
}

:global(.vtex-mega-menu-2-x-triggerButtonIcon) {
    width : 18px !important;
    height: 12px !important;
}

:global(.vtex-store-drawer-0-x-menuIcon) {
    width : 18px !important;
    height: 12px !important;
}

:global(.vtex-store-drawer-0-x-openIconContainer) {
    padding: 0%;
}