/*----------------------------- Mega menu desktop ------------------------------------------------*/
/* Nuevas clases - fix-styles 🧩*/
.menuContainerNav {
    background-color: #FFE6D3 !important;
    z-index         : 10;
}

.menuContainerNav--desktop__mega-menu--body {
    width        : auto !important;
    border-radius: 0px 0px 16px 16px;
    top          : 40px;
}

.menuItem--desktop__mega-menu--body {
    background-color: #fff;
}

.menuItem--desktop__mega-menu--body :hover {
    background-color: rgba(255, 131, 36, 0.2);
    border-left     : solid 10px #FF8324;
}

.menuContainer {
    font-family     : lexend, sans-serif;
    width           : 220px !important;
    background-color: #fff !important;
    border-radius   : 0px 0px 16px 16px;
    max-height      : 647px;
    overflow        : auto;
}

.styledLinkContent--desktop__mega-menu--body :hover {
    background-color: transparent;
    border-left     : transparent;
}

.styledLinkContainer--desktop__mega-menu--body :hover {
    background-color: transparent;
    border-left     : transparent;
}

.styledLinkText--desktop__mega-menu--body :hover {
    background-color: transparent;
    border-left     : transparent;
}

.styledLinkContainer--desktop__mega-menu--body {
    width            : 100%;
    margin-left      : 0px;
    margin-right     : 0px;
    padding-left     : 16px;
    padding-top      : 0%;
    /* padding-bottom: 16px; */
    padding-bottom   : 0%;
}

.styledLinkContent--desktop__mega-menu--body {
    padding-top   : 8px;
    padding-bottom: 8px;
}

.styledLinkText--desktop__mega-menu--body {
    font-family: lexend, sans-serif;
    font-weight: 300;
    font-size  : 12px !important;
    line-height: 15px;
    color      : #1D2734 !important;
}

.submenuContainer {
    font-family     : lexend, sans-serif;
    display         : flex;
    flex-direction  : column;
    background-color: #FFE6D3 !important;
    width           : 500px !important;
    border-radius   : 0px 0px 16px 0px;
    max-height      : 647px;
    overflow        : auto;
    padding-left    : 0%;
}

.submenuContainerTitle--desktop__mega-menu--body {
    display                 : grid;
    grid-template-columns   : 1fr 1fr;
    justify-content         : space-around;
    align-items             : center;
    /* gap                  : 30px; */
    gap                     : 15px;
    margin-bottom           : 14px;
}

.submenuContainerTitle--desktop__mega-menu--body {
    font-family : lexend, sans-serif;
    font-size   : 14px;
    line-height : 17.5px;
    color       : #1D2734 !important;
    /* padding  : 0% !important; */
    padding-left: 16px !important;
}

.submenuItem--desktop__mega-menu--body {
    margin-top: 0%;
}

.seeAllLinkContainer--desktop__mega-menu--body {
    width      : 148px !important;
    margin-left: 16px;
}

.seeAllLink--desktop__mega-menu--body {
    font-family    : lexend, sans-serif;
    font-size      : 14px;
    font-weight    : 600;
    line-height    : 17.5px;
    color          : #1D2734;
    text-decoration: none;
}

.accordionIconContainer--desktop__mega-menu--body {
    display: none;
}

/*----------------------------- Mega menu mobile ------------------------------------------------*/
/* Nuevas clases - fix-styles 🧩*/
.departmentsTitle--mega__menu-drawer--body {
    margin-top   : 19px !important;
    margin-bottom: 16px !important;
    padding-left : 16px !important;
    padding-right: 0% !important;
}

.menuContainerNavVertical {
    background-color: #fff;
    margin          : 0% !important;
}

.menuContainerVertical--mega__menu-drawer--body {
    margin: 0% !important;
}

.styledLinkContainer--mega__menu-drawer--body {
    padding-top   : 16px;
    padding-bottom: 16px;
    margin-left   : 16px;
    margin-right  : 0%;
}

.styledLinkText--mega__menu-drawer--body {
    font-family: lexend, sans-serif;
    font-size  : 12px;
    font-weight: 300;
    line-height: 15px;
    color      : #1D2734 !important;
}

.menuItemVertical--mega__menu-drawer--body {
    border: none;
}

.goBackButton {
    padding-left : 16px;
    padding-right: 0%;
}

.goBackButtonText {
    display: none;
}

.submenuItemVertical {
    background-color: #fff;
}

.submenuItemVertical--mega__menu-drawer--body {
    border          : none;
    /* padding-left : 16px; */
    padding-left    : 0%;
    padding-right   : 16px;
}

.submenuContainerTitle--mega__menu-drawer--body {
    padding: 0% !important;
}

.collapsibleHeaderText--mega__menu-drawer--body {
    margin-top   : 19px;
    margin-bottom: 16px;
    padding-left : 16px;
    font-family  : lexend, sans-serif;
    font-size    : 12px;
    font-weight  : 300;
    line-height  : 15px;
    color        : #1D2734 !important;
}

.seeAllLinkContainer--mega__menu-drawer--body {
    padding-left: 16px;
}

.seeAllLink--mega__menu-drawer--body {
    font-size      : 14px;
    line-height    : 17.5px;
    font-family    : lexend, sans-serif;
    color          : #1D2734 !important;
    text-decoration: none;
}

.accordionIconContainer {
    display: none;
}

/* Clases no necesarias limpieza de codigo desktop */
/* .menuContainer {
    font-family     : lexend, sans-serif;
    width           : 250px !important;
    background-color: #fff !important;
    border-radius   : 0px 0px 16px 16px;
    max-height      : 647px;
    overflow        : auto;
} */

/* Nuevas clases - buscar especifidad de desktop*/
/* .departmentsTitle {
    font-size  : 14px;
    line-height: 17.5px;
    font-family: lexend, sans-serif;
    color      : #1D2734 !important;
    padding: 0% !important;
    margin: 0% !important;
} */

/* Clases no necesarias limpieza de codigo mobile */
/* .departmentsTitle--mega__menu-drawer--body {
    font-family: lexend, sans-serif;
    font-weight: 300;
    font-size  : 0px;
    line-height: 0px;
    color      : #1D2734 !important;
    padding: 0% !important;
    margin: 0% !important;
} */

/* .seeAllLink {
    font-size  : 14px;
    line-height: 17.5px;
    font-family: lexend, sans-serif;
    color      : #1D2734 !important;
} */

/* .styledLinkContainer {
    padding-top: 0.8rem;
} */

/* .styledLinkText {
    font-size  : 12px;
    font-weight: 300;
    line-height: 15px;
    font-family: lexend, sans-serif !important;
    color      : #1D2734 !important;
} */

/* .collapsibleHeaderText {
    font-size  : 12px;
    font-weight: 300;
    line-height: 15px;
    font-family: lexend, sans-serif !important;
    color      : #1D2734 !important;
} */

/* .submenuContainerTitle {
    font-family: lexend, sans-serif;
    font-size  : 12px;
    line-height: 17.5px;
    color      : #1D2734 !important;
    padding: 0% !important;
} */

/* .goBackButtonText {
    font-family: lexend, sans-serif;
    font-size     : 12px;
    font-weight   : 300;
    line-height   : 15px;
    color         : #1D2734 !important;
} */