/*----------------------------- Mega menu desktop ------------------------------------------------*/
.menuContainerNav {
    background-color: #FFE6D3 !important;
    z-index         : 10;
}

.menuContainerNav--components__mega--menu {
    width        : auto !important;
    border-radius: 0px 0px 16px 16px;
    top          : 40px;
}

.menuContainer {
    font-family      : lexend, sans-serif;
    width            : 250px !important;
    background-color : #fff !important;
    border-radius    : 0px 0px 16px 16px;
    max-height       : 647px;
    overflow         : auto;
}

.menuItem--components__mega--menu {
    background-color: #fff;
}

.menuItem--components__mega--menu :hover {
    background-color: rgba(255, 131, 36, 0.2);
    border-left     : solid 10px #FF8324;
}

.styledLinkContent--components__mega--menu :hover {
    background-color: transparent;
    border-left     : transparent;
}

.styledLinkContainer--components__mega--menu :hover {
    background-color: transparent;
    border-left     : transparent;
}

.styledLinkText--components__mega--menu :hover {
    background-color: transparent;
    border-left     : transparent;
}

.accordionIconContainer--components__mega--menu {
    display: none;
}

.styledLinkContainer--components__mega--menu {
    margin-left : 0px;
    margin-right: 0px;
    width       : 100%;
    color       : #1D2734;
    padding-left: 10px;
}

.styledLinkText--components__mega--menu {
    font-family: lexend, sans-serif;
    font-weight: 300;
    font-size  : 12px !important;
    line-height: 15px;
}

.submenuContainer {
    font-family     : lexend, sans-serif;
    display         : flex;
    flex-direction  : column;
    background-color: #FFE6D3 !important;
    width           : 500px !important;
    border-radius   : 0px 0px 16px 0px;
    max-height      : 647px;
    overflow        : auto;
}

.seeAllLinkContainer--components__mega--menu {
    font-family: lexend, sans-serif;
    font-size  : 14px;
    font-weight: bold;
    line-height: 17.5px;
    width      : 148px !important;
    margin-left: 10px;
}

.submenuContainerTitle--components__mega--menu {
    display              : grid;
    grid-template-columns: 1fr 1fr;
    justify-content      : space-around;
    align-items          : center;
    gap                  : 30px;
}

.submenuItem--components__mega--menu {
    margin-top: 0.8rem;
}

/* Nuevas clases - fix-styles */


/*----------------------------- Mega menu mobile ------------------------------------------------*/

.submenuContainerVertical {
    background-color: #fff;
}

.submenuContainerTitle {
    font-size  : 14px;
    line-height: 17.5px;
    font-family: lexend, sans-serif;
    color      : #1D2734 !important;
}

.seeAllLink {
    font-size  : 14px;
    line-height: 17.5px;
    font-family: lexend, sans-serif;
    color      : #1D2734 !important;
}

.accordionIconContainer {
    display: none;
}

/* Nuevas clases - fix-styles 🧩*/
.departmentsTitle--mega__menu-drawer--body {
    /* font-family: lexend, sans-serif;
    font-weight: 300;
    font-size  : 0px;
    line-height: 0px;
    color      : #1D2734 !important; */
    /* padding: 0% !important;
    margin: 0% !important; */
    margin-top: 19px !important;
    margin-bottom: 16px !important;
    padding-left: 16px !important;
    padding-right: 0% !important;
}

.menuContainerNavVertical {
    background-color: #fff;
    margin: 0% !important;
}

.menuContainerVertical--mega__menu-drawer--body {
    margin: 0% !important;
}

/* .styledLinkContainer {
    padding-top: 0.8rem;
} */

.styledLinkContainer--mega__menu-drawer--body {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 16px;
    margin-right: 0%;
}

/* .styledLinkText {
    font-size  : 12px;
    font-weight: 300;
    line-height: 15px;
    font-family: lexend, sans-serif !important;
    color      : #1D2734 !important;
} */

.styledLinkText--mega__menu-drawer--body {
    font-family: lexend, sans-serif;
    font-size  : 12px;
    font-weight: 300;
    line-height: 15px;
    color      : #1D2734 !important;
}

.menuItemVertical--mega__menu-drawer--body {
    border: none;
}

.goBackButtonText {
    font-family: lexend, sans-serif;
    font-size  : 12px;
    font-weight: 300;
    line-height: 15px;
    color      : #1D2734 !important;
}

.submenuItemVertical {
    background-color: #fff;
}

.submenuItemVertical--mega__menu-drawer--body {
    border: none;
    padding-left: 16px;
    padding-right: 16px;
}

/* .collapsibleHeaderText {
    font-size  : 12px;
    font-weight: 300;
    line-height: 15px;
    font-family: lexend, sans-serif !important;
    color      : #1D2734 !important;
} */

.collapsibleHeaderText--mega__menu-drawer--body {
    font-family: lexend, sans-serif;
    font-size  : 12px;
    font-weight: 300;
    line-height: 15px;
    color      : #1D2734 !important;
    margin-top: 19px;
    margin-bottom: 16px;
}

/* Nuevas clases - buscar especifidad de desktop 🧩*/
.departmentsTitle {
    /* font-size  : 14px;
    line-height: 17.5px;
    font-family: lexend, sans-serif;
    color      : #1D2734 !important; */
    /* padding: 0% !important;
    margin: 0% !important; */
}