/*----------------------------- Mega menu mobile ------------------------------------------------*/
/* Nuevas clases - fix-styles 🧩*/
.drawerHeader {
    background-color: #fff !important;
}

.drawer--mobile__mega-menu--drawer {
    width           : 65% !important;
    min-width       : 240px !important;
    max-width       : 300px !important;
    background-color: #fff;
}

.drawerHeader--mega__menu-drawer--header {
    padding-top: 40px;
}

/*---------- Desktop ------------*/
@media (min-width: 1025px) {}