/* Nuevas clases - fix-styles 🧩*/
.flexRow--drawer__header--row {
    display: flex;
    align-items: center;
    width: 240px;
    height: 56px;
    padding-top: 8px;
}

.flexCol--drawer__header-close--btn :global(.vtex-store-drawer-0-x-closeIconButton) {
    padding: 0%;
}