.flexRow--minicart__logo-header {
    padding-top: 20px;
}

.flexRow--minicart__container-title-header {
    padding-top: 20px;
}

.flexColChild--minicart-empty-state-column {
    padding-bottom: 0px;
}

.flexRow--minicart__produt-list {
    overflow-y: auto;
    position  : relative;
}

.flexColChild--minicart__footer-content {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

/* Nuevo */
.flexRowContent--product_list-content-mobile {
    display       : flex;
    align-items   : center;
    max-width     : 328px;
    min-width     : 280px;
    padding-top   : 0px;
    padding-bottom: 15px;
}

.flexRowContent--price_mobile {
    margin-top: 0px;
}

.flexRow--price_mobile {
    width : 85px;
    height: 35px;
}

.flexRowContent--quanitity_selector-mobile {
    margin-top: 5px;
}

.flexCol--remove_button-mobile :global(.vtex-product-list-0-x-deleteIcon) {
    display: none;
}

.flexCol--remove_button-mobile :global(.vtex-product-list-0-x-removeButton)::before {
    content            : url("/arquivos/hpa-delete-icon.svg");
    display            : inline-block;
    width              : 22.69px;
    height             : 22.69px;
    background-repeat  : no-repeat;
    background-size    : 100%;
    background-position: center;
}

/*----------------------------- MediaQueires ---------------------------------------*/
@media (max-width: 768px) {
    .flexCol--minicart__base-container {
        justify-content: center;
    }

    .flexRow--minicart__produt-list {
        max-height: 350px;
    }

    .flexColChild--minicart__base-container {
        display         : flex;
        justify-content : center !important;
        align-items     : center !important;
        background-color: #fff;
    }

    /*.flexRow--minicart__logo-header {
        padding-top: 50px;
    }*/
}

@media (min-width: 769px) and (max-width: 1024px) {
    .drawerContent--minicart_container {
        overflow-y: none;
        display   : contents;
    }

    .flexCol--minicart__base-container {
        justify-content: center;
    }

    .flexColChild--minicart__base-container {
        display         : flex;
        justify-content : center !important;
        align-items     : center !important;
        background-color: #fff;
    }

    .flexRow--minicart__produt-list {
        max-height  : 500px;
        /*margin-top: 50px;*/
    }

    .flexRow--minicart__logo-header {
        padding-top: 50px;
    }
}

/*---------- Desktop ------------*/
@media (min-width: 1280px) {
    .flexRow--minicart__produt-list {
        max-height: 400px;
    }
}