/*----------------------------- "Header desktop------------------------------------------------*/
.headerRowContainer--header__menu--desktop {
    /*background-color: aqua;*/
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 56px;
    padding        : 8px 48px 8px 48px;
    /*gap          : 48px;*/
    background-color: #fff;
}

/*----------------------------- Header desktop section icons ---------------------------------------*/
.headerStickyRow--global__header--menu-icons {
    overflow: hidden;
}

/* Nuevo prueba para ajuste*/
.headerRowContainer--global__header--menu-icons {
    /*background-color: #71ff5e;*/
    width          : 100%;
    display        : flex;
    align-items    : center;
    justify-content: left;
    height         : 56px;
    padding        : 8px 48px 8px 48px;
    background-color: #fff;
}

/*----------------------------- MediaQueires header section icons phone y tablet ---------------------------------------*/
@media (max-width: 767px) {
    .headerRowContainer--global__header--menu-icons {
        /*background-color: #71ff5e;*/
        width          : 100%;
        display        : flex;
        align-items    : center;
        justify-content: left;
        height         : 56px;
        padding        : 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .headerRowContainer--global__header--menu-icons {
        /*background-color: #71ff5e;*/
        width          : 100%;
        display        : flex;
        align-items    : center;
        justify-content: left;
        height         : 56px;
        padding        : 0px;
    }
}

/*----------------------------- "Header mobile------------------------------------------------*/
.headerRowContainer--header__menu--mobile {
    /*background-color: #b0fff7;*/
    display        : flex;
    justify-content: space-around;
    width          : 100%;
    height         : auto;
}