/*----------------------------- Header desktop section menu ---------------------------------------*/
.logoContainer--logo__img--custom {
    padding-left : 0.5rem;
    padding-right: 1.5rem;
}

.autoCompleteOuterContainer--search__bar--desktop :global(.vtex-input-prefix__group) {
    border-radius   : 40px;
    width           : 280px;
    height          : 40px;
    gap             : 16px;
    background-color: #F5F4F6;
}

.autoCompleteOuterContainer--search__bar--desktop :global(.vtex-input__suffix) {
    background-color: #F5F4F6;
}

/*----------------------------- Header mobile section menu ---------------------------------------*/
.logoContainer--logo__mobile--custom {
    display        : flex;
    justify-content: left;
    align-items    : center;
    padding-left: 0px;
}