/*----------------------------- Header phone ------------------------------------------------*/
.openIconContainer--drawer__menu--phone {
    display        : flex;
    align-items    : center;
    justify-content: center;
}