/*----------------------------- Global slider products ------------------------------------------------*/
.flexCol--global__infocard--slider {
    background-color: #fff;
    width           : 324px;
    height          : 336.46px;
    margin          : 10px;
    border-radius   : 12px 12px 0px 0px;
}

/*----------------------------- MediaQueires header section icons tablet y phone ---------------------------------------*/
@media (max-width: 767px) {
    .flexCol--global__infocard--slider {
        width : 224px;
        height: 240px;
        margin: 10px;
        flex  : 0 1 auto;
    }

    .flexRowContent--global_home--slider {
        padding-left : 0 !important;
        padding-right: 0 !important;
    }

    .flexRowContent--second__row-infocard--container {
        margin-top: 10.33px !important;
    }

    .flexCol--second__row--bestseller {
        max-width: 85% !important;
    }

    .flexColChild--second__row--bestseller {
        max-width: 85% !important;
    }
}


@media (min-width: 768px) and (max-width: 1024px) {
    .flexCol--global__infocard--slider {
        width : 224px;
        height: 240px;
        margin: 10px;
        flex  : 0 1 auto;
    }

    .flexRowContent--global_home--slider {
        padding-left : 0 !important;
        padding-right: 0 !important;
    }

    .flexCol--second__row--bestseller {
        max-width: 85% !important;
    }

    .flexColChild--second__row--bestseller {
        max-width: 85% !important;
    }
}

.flexRowContent--global_home--slider {
    display      : flex;
    padding-left : 80px;
    padding-right: 80px;
}

.flexRowContent--second__row-infocard--container {
    margin-top: 13.80px;
}

.flexColChild--second__row--bestseller {
    height         : 100%;
    display        : flex;
    align-items    : start;
    justify-content: center;
}