.flexCol--global__infocard--slider {
    background-color: #fff;
    width           : 324px;
    height          : 336.46px;
    margin          : 10px;
    border-radius   : 12px 12px 0px 0px;
}

.flexRowContent--global_home--slider {
    display      : flex;
    padding-left : 80px;
    padding-right: 80px;
}

.flexColChild--second__row--bestseller {
    height         : 100%;
    display        : flex;
    align-items    : start;
    justify-content: center;
}

/*----------------------------- MediaQueires ---------------------------------------*/
@media (min-width: 320px) and (max-width: 1279px) {
    .flexCol--global__infocard--slider {
        height: 95%;
        margin: 10px;
        flex  : 0 1 auto;
    }

    .flexRowContent--global_home--slider {
        padding-left : 0 !important;
        padding-right: 0 !important;
    }

    .flexRowContent--second__row-infocard--container {
        margin-top: 13.80px;
    }

    .flexCol--second__row--bestseller {
        max-width: 85% !important;
    }

    .flexColChild--second__row--bestseller {
        max-width: 85% !important;
    }
}

/*---------- Tablet ------------*/
@media (min-width: 640px) and (max-width: 1279px) {
    .flexCol--global__infocard--slider {
        width: 95%;
    }
}

/*---------- Desktop ------------*/
@media (min-width: 1280px) {}