.sliderLayoutContainer--home__shelf--slider {
    display               : flex;
    justify-content       : center;
    flex-direction        : column;
    gap                   : 1px;
}

.sliderTrackContainer--home__shelf--slider {
    height: 100%;
}

/* arrows */
.caretIcon--home__shelf--slider {
    width   : 20px !important;
    height  : 14px !important;
    overflow: visible !important;
}

.sliderLeftArrow--home__shelf--slider {
    padding: 0%;
    margin : 0%;
    left   : 60px;
}

.sliderRightArrow--home__shelf--slider {
    padding: 0%;
    margin : 0%;
    right  : 60px;
}

/* Dots */
.paginationDotsContainer--home__shelf--slider {
    display       : flex;
    align-items   : center;
    height        : 50px;
    position      : relative;
}

.paginationDot--home__shelf--slider {
    display         : flex;
    align-items     : center;
    justify-content : center;
    position        : relative;
    width           : 20px !important;
    height          : 1.41px !important;
    margin          : 0 2px;
    border-radius   : 0;
    background-color: transparent;
}

/* Nuevas clases - fix-styles 🧩*/
/*---------- Desktop ------------*/
@media (min-width: 1025px) {
    .sliderLayoutContainer--home__shelf--slider {
        padding-left : 94px !important;
        padding-right: 94px !important;
    }
}

@media (min-width: 1280px) {
    /* .sliderTrackContainer--home__shelf--slider {
        width: 1092px;
    } */
}

@media (min-width: 320px) and (max-width: 1024px) {
    .sliderLayoutContainer--home__shelf--slider {
        padding-left : 16px !important;
        padding-right: 16px !important;
    }
}