.sliderLayoutContainer--home__shelf--slider {
    /*padding-left : 80px;
    padding-right: 80px;*/
}

.caretIcon--home__shelf--slider {
    width        : 20px !important;
    height       : 14px !important;
    border-left  : 10px solid transparent;
    border-right : 10px solid transparent;
    border-radius: 4px;
    margin-bottom: 94px;
    overflow     : visible;
    fill         : none;
}

.sliderLayoutContainer--home__shelf--slider :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
    left     : 15px !important;
    top      : 50%;
    transform: translateY(-50%);
}

.sliderLayoutContainer--home__shelf--slider :global(.vtex-slider-layout-0-x-sliderRightArrow) {
    right    : 15px !important;
    top      : 50%;
    transform: translateY(-50%);
}

.paginationDotsContainer--home__shelf--slider {
    display    : flex;
    align-items: center;
    height     : 50.89px;
    width      : 100%;
    position   : absolute;
    bottom     : -50px;
    left       : 0;
    z-index    : 1;
}

.paginationDot--home__shelf--slider {
    width           : 44px !important;
    height          : 40px !important;
    border-radius   : 0;
    background-color: transparent;
    display         : flex;
    align-items     : center;
    justify-content : center;
    margin          : 0 2px;
    z-index         : 2;
}

/* Nuevas clases - fix-styles 🧩*/
/*---------- Desktop ------------*/
@media (min-width: 1025px) {
    .sliderLayoutContainer--home__shelf--slider {
        padding-left : 94px !important;
        padding-right: 94px !important;
    }
}

@media (min-width: 320px) and (max-width: 1024px) {
    .sliderLayoutContainer--home__shelf--slider {
        padding-left : 16px !important;
        padding-right: 16px !important;
    }
}

/*----------------------------- MediaQueires ---------------------------------------*/
@media (min-width: 320px) and (max-width: 1279px) {
    .sliderLayoutContainer--home__shelf--slider :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
        display: none !important;
    }

    .sliderLayoutContainer--home__shelf--slider :global(.vtex-slider-layout-0-x-sliderRightArrow) {
        display: none !important;
    }

    /* .sliderLayoutContainer--home__shelf--slider {
        padding-left : 0% !important;
        padding-right: 0% !important;
    } */
}

/*---------- Phone ------------*/
@media (min-width: 320px) and (max-width: 639px) {
    .paginationDotsContainer--home__shelf--slider {
        width : 231px;
        margin: 0 auto;
    }

    .paginationDot--home__shelf--slider {
        width: 20px !important;
    }

    .sliderLayoutContainer--home__shelf--slider :global(.vtex-slider-layout-0-x-paginationDot)::after {
        width: 20px;
    }
}

/*---------- Tablet ------------*/
@media (min-width: 640px) and (max-width: 1279px) {
    .paginationDot--home__shelf--slider {
        width: 15px !important;
    }

    .sliderLayoutContainer--home__shelf--slider :global(.vtex-slider-layout-0-x-paginationDot)::after {
        width: 15px !important;
    }
}

/*---------- Desktop ------------*/
@media (min-width: 1280px) {}