/* Nuevas clases - fix-styles 🧩*/
.savings--product__summary--savings {
    display         : flex;
    align-items     : center;
    justify-content : center;
    border-radius   : 3.04px;
    border          : 0.76px solid #1D2734;
    padding         : 4.56px 9.11px 4.56px 9.11px;
    gap             : 7.59px;
    background-color: #1D2734;
    font-family     : lexend, sans-serif;
    font-size       : 12px;
    font-weight     : 400;
    line-height     : 15.19px;
    color           : #ffff;
}

/*---------- Desktop ------------*/
@media (min-width: 1025px) {
    .savings--product__summary--savings {
        width      : 84px !important;
        height     : 32px;
        padding    : 0%;
        font-size  : 14px;
        line-height: 20px;
    }
}

@media (min-width: 320px) and (max-width: 1024px) {
    .savings--product__summary--savings {
        width: 70px !important;
    }
}