/* Nuevas clases - fix-styles 🧩*/
.element--home__shelf--product--summary {
    padding-bottom: 0%;
    padding-top   : 0%;
    gap           : 9px;
}

.container--home__shelf--product--summary {
    margin       : 8px;
    border-radius: 0px 0px 0px 0px;
}

.image--product__summary--image {
    width : 178px !important;
    height: 140px !important;
}

.imageWrapper--product__summary--image {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.nameContainer--product_summary-name {
    display       : flex;
    padding-bottom: 0px;
    padding-top   : 0px;
    height        : 38px;
}

.productBrand--product_summary-name {
    display           : -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height        : calc(16.8px * 3);
    text-overflow     : ellipsis;
    text-align        : left;
    font-family       : lexend, sans-serif;
    font-weight       : 400;
    font-size         : 12px;
    line-height       : 12.76px;
    color             : hsla(214, 28%, 16%, 0.6);
}

.priceContainer {
    display    : flex;
    align-items: baseline;
    padding    : 0%;
    height     : 33.39px;
}

.price_className {
    display       : flex;
    align-items   : flex-start;
    flex-direction: column;
    gap           : 2px;
    font-family   : lexend, sans-serif;
    color         : hsla(214, 28%, 16%, 0.4);
}

.price_listPriceContainer {
    margin : 0%;
    padding: 0%;
    height : 13px;
}

.price_listPrice {
    padding    : 0%;
    font-family: lexend, sans-serif;
    font-size  : 12px;
    line-height: 12.76px;
}

.price_sellingPriceContainer {
    padding: 0%;
    margin : 0%;
    height : 22px;
}

.price_sellingPrice {
    padding    : 0%;
    font-family: lexend, sans-serif;
    font-size  : 20px;
    line-height: 21.87px;
    font-weight: 600;
    color      : #1D2734;
}

.listPriceLabel {
    display: none;
}

.sellingPriceLabel {
    display: none;
}

/* Nuevas clases - fix-styles 🧩*/
/*---------- Desktop ------------*/
@media (min-width: 1025px) {
    .element--home__shelf--product--summary {
        gap: 12px;
    }

    .container--home__shelf--product--summary {
        margin: 12px;
    }

    .nameContainer--product_summary-name {
        height: 51px;
    }

    .productBrand--product_summary-name {
        font-size  : 14px;
        line-height: 16.8px;
    }

    .price_listPriceContainer {
        height: 14px;
    }

    .price_listPrice {
        font-size  : 14px;
        line-height: 16.8px;
    }

    .price_sellingPriceContainer {
        height: 23px;
    }

    .price_sellingPrice {
        font-size  : 23px;
        line-height: 28.8px;
    }

    .priceContainer {
        height: 38px;
    }
}