/* Nuevas clases - fix-styles 🧩*/
.wishlistIconContainer--product__summary-wish--list :global(.vtex-button) {
    display    : flex;
    align-items: center;
    min-height : auto !important;
}

.wishlistIconContainer--product__summary-wish--list :global(.vtex-button__label) {
    width        : 33.41px;
    height       : 24.3px;
    min-height   : 0% !important;
    border-radius: 3.04px;
    border       : 0.76px solid #1D2734;
    padding      : 4.56px 9.11px 4.56px 9.11px !important;
    gap          : 7.59px;
}

.wishlistIconContainer--product__summary-wish--list {
    display        : flex;
    justify-content: flex-end;
}

.wishlistIcon--product__summary-wish--list {
    background-image   : url("/arquivos/favorite_border-icon.svg") !important;
    width              : 15.19px;
    height             : 15.19px;
    position           : absolute;
    background-size    : 15.19px !important;
    background-position: center;
    background-repeat  : no-repeat;
}

.wishlistIcon--product__summary-wish--list :global(.vtex-wish-list-1-x-iconSize) {
    background-size: 15.19px;
}

/* Nuevas clases - fix-styles 🧩*/
/*---------- Desktop ------------*/
@media (min-width: 1025px) {
    .wishlistIconContainer--product__summary-wish--list :global(.vtex-button__label) {
        width : 44px;
        height: 32px;
    }
}