.buttonText--product__summary-btn--add {
    font-family   : Lexend, sans-serif;
    font-weight   : 400;
    font-size     : 14px;
    line-height   : 17.5px;
    text-align    : center;
    color         : #1D2734;
    text-transform: lowercase;
}

.buttonText--product__summary-btn--add::first-letter {
    text-transform: capitalize;
}

.buttonDataContainer--product__summary-btn--add {
    display    : flex;
    align-items: center;
    gap        : 5px;
}

.buttonDataContainer--product__summary-btn--add::before {
    content: url("/arquivos/button_cart.png");
    width  : 20px;
    height : 20px;
}