/* Nuevas clases - fix-styles 🧩*/
.container--home__shelf--product--summary {
    margin       : 3px;
    border-radius: 0px 0px 0px 0px;
}

.element--home__shelf--product--summary {
    padding-bottom: 0%;
    padding-top   : 0%;
}

.image--product__summary--image {
    width : 178px !important;
    height: 140px !important;
}

.imageWrapper--product__summary--image {
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin-top     : 1px;
}

.nameContainer--product_summary-name {
    display       : flex;
    padding-bottom: 0px;
    padding-top   : 0px;
    /* height        : 51px; */
    height: 38px;
}

/* .nameContainer {
    display       : flex;
    padding-bottom: 0px;
    padding-top   : 0px;
    height        : 51px;
} */

.priceContainer {
    display        : flex;
    justify-content: left;
    align-items    : baseline;
    padding-bottom : 0%;
    padding-top    : 8px;
}

.price_className {
    display       : flex;
    align-items   : flex-start;
    flex-direction: column;
    font-family   : Lexend, sans-serif;
    font-family   : 12px;
    color         : hsla(214, 28%, 16%, 0.4);
}


.listPriceLabel {
    display: none;
}



.sellingPriceLabel {
    display: none;
}

.buyButton--custom_button__slider3 {
    background-color: #fff;
}

/* .productBrand {
    font-family       : lexend, sans-serif;
    font-weight       : 400;
    font-size         : 14px;
    text-align        : left;
    line-height       : 16.8px;
    color             : hsla(214, 28%, 16%, 0.6);
    overflow          : hidden;
    text-overflow     : ellipsis;
    display           : -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height        : calc(16.8px * 3);
} */

/* Nuevas clases - fix-styles 🧩*/
.productBrand--product_summary-name {
    display           : -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height        : calc(16.8px * 3);
    text-overflow     : ellipsis;
    text-align        : left;
    font-family       : lexend, sans-serif;
    font-weight       : 400;
    font-size         : 12px;
    line-height       : 12.76px;
    color             : hsla(214, 28%, 16%, 0.6);
}

.price_sellingPriceContainer {
    font-family: lexend, sans-serif;
    font-size  : 24px !important;
    line-height: 28.8px;
    color      : #1D2734;
    padding: 0%;
    margin: 0%;
}

.price_listPriceContainer {
    margin: 0%;
    padding: 0%;
}

.price_listPrice {
    font-family: lexend, sans-serif;
    font-size  : 12px;
    line-height: 12.76px;
    padding: 0%;
}

.price_sellingPrice {
    font-family: lexend, sans-serif;
    font-size  : 20px;
    line-height: 21.87px;
    font-weight: 600;
    padding: 0%;
}


/* Nuevas clases - fix-styles 🧩*/
/*---------- Desktop ------------*/
@media (min-width: 1025px) {
    .container--home__shelf--product--summary {
        margin: 8px;
    }

    .nameContainer--product_summary-name {
        height: 51px;
    }

    .productBrand--product_summary-name {
        font-size         : 14px;
        line-height       : 16.8px;
    }
}

/*----------------------------- MediaQueires ---------------------------------------*/
@media (min-width: 320px) and (max-width: 1279px) {
    /* .productBrand {
        font-size: 12px;
    } */

    /* .price_listPrice {
        font-size: 13px;
    } */

    /* .price_sellingPriceContainer {
        font-size: 22px !important;
    }

    .price_sellingPrice {
        font-size: 22px;
    } */
}

/*---------- Tablet ------------*/
@media (min-width: 640px) and (max-width: 1279px) {
    .container--home__shelf--product--summary {
        display   : flex;
        max-width : 250px !important;
        max-height: 400px
    }
}