/*----- bage de descuento ----*/
.discountInsideContainer {
    display: none;
}

/*------ bage venta ------*/
.installmentsPrice {
    display: none;
} 

.swiperCaretNext {
    display: none;
}

.swiperCaretPrev {
    display: none;
}