/*----------------------------- Mega menu mobile ------------------------------------------------*/
.drawer {
    /*width: 80% !important;*/
    /*width           : 50% !important;*/
    background-color: #fff;
}

.drawerContent {
    background-color: #fff;
}

.drawerHeader {
    background-color: #fff !important;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .drawer {
        max-width: 300px !important;
    }
}